In [1]:
import pandas as pd
import pickle
import numpy as np
from datetime import datetime

In [2]:
cdm_t = pd.read_pickle('../Data/cdm_t.pkl')
cdm_s = pd.read_pickle('../Data/cdm_s.pkl')

In [3]:
signal_name = 'inr'
treatment_names = {}
treatment_names['nsaid'] = ['acetaminophen_dose','celecoxib_dose','diclofenac_dose','ibuprofen_dose','indomethacin_dose',
'ketorolac_dose','meloxicam_dose','naproxen_dose']
treatment_names['anticoagulant'] = ['warfarin_dose','heparin_dose','dabigatran_dose','edoxaban_dose','rivaroxaban_dose',
'apixaban_dose','enoxaparin_dose','dalteparin_dose','fondaparinux_dose']
treatment_names['transfusion'] = ['transfuse_plasma', 'transfuse_platelets']
treatment_names['aspirin'] = ['aspirin_dose']
treatment_list = []
for name in treatment_names.values():
    treatment_list.append(name)
# flatten the list
treatment_list = [item for sublist in treatment_list for item in sublist]

In [4]:
# df_t is part of the original dataframe that has all the ids who have measurements for the signal we are interested 
# in
signal = cdm_t.loc[cdm_t.loc[:, 'fid'] == signal_name, 'value']
ids = np.unique(cdm_t.loc[signal.index, 'enc_id'])
df_t = cdm_t.loc[cdm_t.loc[:, 'enc_id'].isin(ids), :]

In [5]:
df_t

,dataset_id,enc_id,tsp,fid,value,confidence
460,3,8,2015-08-03 17:12:00+00,care_unit,HCGH LABOR & DELIVERY,1
461,3,8,2015-08-03 17:38:00+00,care_unit,HCGH LABOR & DELIVERY,1
462,3,8,2015-08-03 17:39:00+00,resp_rate,16.0,1
463,3,8,2015-08-03 17:39:00+00,temperature,99.2,1
464,3,8,2015-08-03 17:39:00+00,spo2,100.0,1
465,3,8,2015-08-03 17:39:00+00,nbp_dias,79.0,1
466,3,8,2015-08-03 17:39:00+00,heart_rate,84.0,1
467,3,8,2015-08-03 17:39:00+00,nbp_sys,122.0,1
468,3,8,2015-08-03 18:04:00+00,cbc_order,"{""name"": ""COMPLETE BLOOD COUNT (CBC) WITHOUT D...",2
469,3,8,2015-08-03 18:04:00+00,crystalloid_fluid_order,125,2
470,3,8,2015-08-03 18:04:00+00,vasopressors_dose_order,125.0,2
471,3,8,2015-08-03 18:36:00+00,crystalloid_fluid,1000.0,2
472,3,8,2015-08-03 18:57:00+00,wbc,11.88,1
473,3,8,2015-08-03 18:57:00+00,hematocrit,35.4,1
474,3,8,2015-08-03 18:57:00+00,hemoglobin,12.5,1
475,3,8,2015-08-03 18:57:00+00,platelets,205.0,1
476,3,8,2015-08-03 19:00:00+00,crystalloid_fluid,NaN,2
477,3,8,2015-08-03 19:12:00+00,inr,0.9,1
478,3,8,2015-08-03 19:12:00+00,ptt,27.6,1
479,3,8,2015-08-03 19:30:00+00,crystalloid_fluid_order,125,2
480,3,8,2015-08-03 19:30:00+00,vasopressors_dose_order,125.0,2
481,3,8,2015-08-03 20:30:00+00,crystalloid_fluid,NaN,2
482,3,8,2015-08-03 22:02:00+00,care_unit,Discharge,1
483,3,8,2015-08-03 22:02:00+00,discharge,"{""department"": ""HCGH LABOR & DELIVERY"", ""dispo...",1
586,3,10,2015-03-02 00:19:00+00,care_unit,HCGH LABOR & DELIVERY,1
587,3,10,2015-03-02 00:24:00+00,crystalloid_fluid_order,None,2
588,3,10,2015-03-02 00:28:00+00,vasopressors_dose_order,125.0,2
589,3,10,2015-03-02 00:28:00+00,suspicion_of_infection,True,3
590,3,10,2015-03-02 00:28:00+00,any_antibiotics_order,True,2
591,3,10,2015-03-02 00:28:00+00,crystalloid_fluid_order,125,2
...,...,...,...,...,...,...
28867231,3,223942,2017-04-16 19:20:00+00,metabolic_panel_order,"{""name"": ""COMPREHENSIVE METABOLIC PANEL"", ""sta...",2
28867232,3,223942,2017-04-16 19:20:00+00,cbc_order,"{""name"": ""COMPLETE BLOOD COUNT (CBC) + AUTO DI...",2
28867233,3,223942,2017-04-16 19:39:00+00,crystalloid_fluid,500.0,2
28867234,3,223942,2017-04-16 19:40:00+00,wbc,15.61,1
28867235,3,223942,2017-04-16 19:40:00+00,hematocrit,40.9,1
28867236,3,223942,2017-04-16 19:40:00+00,hemoglobin,14.1,1
28867237,3,223942,2017-04-16 19:40:00+00,platelets,181.0,1
28867238,3,223942,2017-04-16 19:45:00+00,gcs,15.0,1
28867239,3,223942,2017-04-16 19:55:00+00,inr,1.11,1
28867240,3,223942,2017-04-16 20:08:00+00,co2,21.0,1
28867241,3,223942,2017-04-16 20:08:00+00,ast_liver_enzymes,15.0,1
28867242,3,223942,2017-04-16 20:08:00+00,creatinine,0.8,1
28867243,3,223942,2017-04-16 20:08:00+00,potassium,4.2,2
28867244,3,223942,2017-04-16 20:08:00+00,bun_to_cr,24.0,1
28867245,3,223942,2017-04-16 20:08:00+00,bun,19.0,1
28867246,3,223942,2017-04-16 20:08:00+00,bilirubin,0.9,1
28867247,3,223942,2017-04-16 20:08:00+00,alt_liver_enzymes,1.1,1
28867248,3,223942,2017-04-16 20:08:00+00,alkaline_phosphatase,53.0,1
28867249,3,223942,2017-04-16 20:08:00+00,calcium,9.2,1
28867250,3,223942,2017-04-16 20:08:00+00,chloride,102.0,1
28867251,3,223942,2017-04-16 20:08:00+00,anion_gap,17.0,1
28867252,3,223942,2017-04-16 20:08:00+00,sodium,140.0,2
28867253,3,223942,2017-04-16 20:53:00+00,ct_proc,"{""name"": ""CT Chest W/ Contrast"", ""status"": ""Co...",1
28867254,3,223942,2017-04-16 21:37:00+00,iohexol_dose,"{""dose"": 90.0, ""order_tsp"": ""2017-04-16 21:37:...",2
28867255,3,223942,2017-04-16 21:52:00+00,nbp_sys,108.0,1
28867256,3,223942,2017-04-16 21:52:00+00,resp_rate,18.0,1
28867257,3,223942,2017-04-16 21:52:00+00,nbp_dias,60.0,1
28867258,3,223942,2017-04-16 21:52:00+00,heart_rate,93.0,1
28867259,3,223942,2017-04-16 22:36:00+00,care_unit,Discharge,1
28867260,3,223942,2017-04-16 22:36:00+00,discharge,"{""department"": ""HCGH EMERGENCY-ADULTS"", ""dispo...",1

In [6]:
# convert tsp field to python datetime object
# make the time for each id to start from zero
df_t.loc[:, 'tsp'] = df_t.loc[:, 'tsp'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S+%f'))
df_t.loc[:, 'tsp'] = df_t.groupby('enc_id')['tsp'].apply(lambda x: x - x.iloc[0])

/home/bear/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [7]:
# df_t is now part of the dataframe that contains only the rows with fid being either the signal or the treatments
df_t = df_t.loc[df_t.loc[:, 'fid'].isin(treatment_list + [signal_name]), :]

In [31]:
# for each id, adjust tsp so that time is zero for the first time the signal is measured
adjusted_time = df_t.groupby('enc_id').apply(lambda x: x.loc[:, 'tsp'] - x.loc[x.loc[:, 'fid'] == signal_name, 'tsp'].iloc[0])
# adjusted_time is multiindexed, need to drop one level before assigning it to column tsp
adjusted_time.index = adjusted_time.index.droplevel()
df_t.loc[:, 'tsp'] = adjusted_time

/home/bear/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [32]:
df_t

,dataset_id,enc_id,tsp,fid,value,confidence
477,3,8,0 days 00:00:00,inr,0.9,1
607,3,10,-2 days +22:00:00,ketorolac_dose,"{""dose"": 30.0, ""order_tsp"": ""2015-03-02 02:22:...",1
639,3,10,-1 days +03:54:00,ketorolac_dose,"{""dose"": 30.0, ""order_tsp"": ""2015-03-02 02:22:...",1
667,3,10,-1 days +09:44:00,ketorolac_dose,"{""dose"": 30.0, ""order_tsp"": ""2015-03-02 02:22:...",1
694,3,10,-1 days +17:01:00,ketorolac_dose,"{""dose"": 30.0, ""order_tsp"": ""2015-03-02 02:22:...",1
707,3,10,-1 days +22:17:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
723,3,10,0 days 00:00:00,inr,0.9,1
729,3,10,0 days 02:10:00,acetaminophen_dose,"{""dose"": 1000.0, ""order_tsp"": ""2015-03-02 07:4...",1
731,3,10,0 days 04:48:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
753,3,10,0 days 10:36:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
771,3,10,0 days 15:13:00,acetaminophen_dose,"{""dose"": 1000.0, ""order_tsp"": ""2015-03-02 07:4...",1
772,3,10,0 days 15:47:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
789,3,10,0 days 21:03:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
790,3,10,0 days 22:19:00,acetaminophen_dose,"{""dose"": 1000.0, ""order_tsp"": ""2015-03-02 07:4...",1
820,3,10,1 days 02:24:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
838,3,10,1 days 04:49:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
862,3,10,1 days 07:56:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
886,3,10,1 days 11:58:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
887,3,10,1 days 13:59:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
898,3,10,1 days 21:44:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
902,3,10,2 days 04:51:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
922,3,10,2 days 09:56:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
927,3,10,2 days 15:31:00,acetaminophen_dose,"{""dose"": 1000.0, ""order_tsp"": ""2015-03-02 07:4...",1
928,3,10,2 days 16:54:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
929,3,10,2 days 21:38:00,acetaminophen_dose,"{""dose"": 1000.0, ""order_tsp"": ""2015-03-02 07:4...",1
930,3,10,2 days 22:57:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
937,3,10,3 days 04:05:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
938,3,10,3 days 06:12:00,acetaminophen_dose,"{""dose"": 1000.0, ""order_tsp"": ""2015-03-02 07:4...",1
939,3,10,3 days 10:04:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1
4593,3,45,0 days 00:00:00,inr,1.2,1
...,...,...,...,...,...,...
28858942,3,223731,1 days 06:34:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2017-04-16 09:00:...",1
28858943,3,223731,1 days 06:35:00,enoxaparin_dose,"{""dose"": 40.0, ""order_tsp"": ""2017-04-15 05:28:...",1
28860533,3,223770,0 days 00:00:00,inr,1.01,1
28861132,3,223782,0 days 00:00:00,inr,0.97,1
28861666,3,223798,-1 days +12:40:00,aspirin_dose,"{""dose"": 162.0, ""order_tsp"": ""2017-04-15 16:36...",1
28861689,3,223798,0 days 00:00:00,inr,1.0,1
28861710,3,223798,0 days 04:19:00,enoxaparin_dose,"{""dose"": 40.0, ""order_tsp"": ""2017-04-15 16:36:...",1
28861711,3,223798,0 days 04:20:00,aspirin_dose,"{""dose"": 162.0, ""order_tsp"": ""2017-04-15 16:36...",1
28862563,3,223818,-1 days +23:43:00,aspirin_dose,"{""dose"": 324.0, ""order_tsp"": ""2017-04-15 15:22...",1
28862575,3,223818,0 days 00:00:00,inr,1.01,1
28863192,3,223831,0 days 00:00:00,inr,1.18,1
28863225,3,223831,0 days 07:53:00,ketorolac_dose,"{""dose"": 15.0, ""order_tsp"": ""2017-04-15 22:40:...",1
28863269,3,223831,0 days 16:31:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2017-04-16 01:53...",1
28863336,3,223833,-1 days +18:54:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-15 17:11...",1
28863369,3,223833,0 days 00:00:00,inr,1.07,1
28864225,3,223854,0 days 00:00:00,inr,1.01,1
28864242,3,223854,0 days 01:23:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2017-04-15 23:15...",1
28864276,3,223856,0 days 00:00:00,inr,1.01,1
28864293,3,223856,0 days 02:37:00,ketorolac_dose,"{""dose"": 30.0, ""order_tsp"": ""2017-04-16 00:53:...",1
28864722,3,223870,0 days 00:00:00,inr,1.1,1
28865099,3,223882,0 days 00:00:00,inr,1.02,1
28865148,3,223882,0 days 08:32:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-16 07:29...",1
28865405,3,223888,-1 days +20:27:00,ketorolac_dose,"{""dose"": 30.0, ""order_tsp"": ""2017-04-16 09:28:...",1
28865415,3,223888,0 days 00:00:00,inr,1.12,1
28865423,3,223888,0 days 00:52:00,heparin_dose,"{""dose"": 4.0, ""order_tsp"": ""2017-04-16 12:39:0...",4
28865775,3,223897,0 days 00:00:00,inr,1.1,1
28866494,3,223922,0 days 00:00:00,inr,1.03,1
28866951,3,223936,0 days 00:00:00,inr,1.06,1
28867202,3,223941,0 days 00:00:00,inr,1.1,1
28867239,3,223942,0 days 00:00:00,inr,1.11,1

### TO DO (not yet in order)
* Delete rows based on num of observation cutoff (maybe print out the number of data points for different cutoff before prompting for selection)
* Bin observation and treatments
* Group treatments by category
* Cast dataframe to matrix