In [60]:
import pandas as pd
import pickle
import numpy as np
from datetime import datetime, timedelta

In [2]:
cdm_t = pd.read_pickle('../Data/cdm_t.pkl')
cdm_s = pd.read_pickle('../Data/cdm_s.pkl')

In [3]:
signal_name = 'inr'
treatment_names = {}
treatment_names['nsaid'] = ['acetaminophen_dose','celecoxib_dose','diclofenac_dose','ibuprofen_dose','indomethacin_dose',
'ketorolac_dose','meloxicam_dose','naproxen_dose']
treatment_names['anticoagulant'] = ['warfarin_dose','heparin_dose','dabigatran_dose','edoxaban_dose','rivaroxaban_dose',
'apixaban_dose','enoxaparin_dose','dalteparin_dose','fondaparinux_dose']
treatment_names['transfusion_plasma'] = ['transfuse_plasma']
treatment_names['transfusion_platelets'] = ['transfuse_platelets']
treatment_names['aspirin'] = ['aspirin_dose']
treatment_list = []
for name in treatment_names.values():
    treatment_list.append(name)
# flatten the list
treatment_list = [item for sublist in treatment_list for item in sublist]

In [4]:
# df_t is part of the original dataframe that has all the ids who have measurements for the signal we are interested 
# in
signal = cdm_t.loc[cdm_t.loc[:, 'fid'] == signal_name, 'value']
ids = np.unique(cdm_t.loc[signal.index, 'enc_id'])
df_t = cdm_t.loc[cdm_t.loc[:, 'enc_id'].isin(ids), :]

In [5]:
df_t

,dataset_id,enc_id,tsp,fid,value,confidence
460,3,8,2015-08-03 17:12:00+00,care_unit,HCGH LABOR & DELIVERY,1
461,3,8,2015-08-03 17:38:00+00,care_unit,HCGH LABOR & DELIVERY,1
462,3,8,2015-08-03 17:39:00+00,resp_rate,16.0,1
463,3,8,2015-08-03 17:39:00+00,temperature,99.2,1
464,3,8,2015-08-03 17:39:00+00,spo2,100.0,1
465,3,8,2015-08-03 17:39:00+00,nbp_dias,79.0,1
466,3,8,2015-08-03 17:39:00+00,heart_rate,84.0,1
467,3,8,2015-08-03 17:39:00+00,nbp_sys,122.0,1
468,3,8,2015-08-03 18:04:00+00,cbc_order,"{""name"": ""COMPLETE BLOOD COUNT (CBC) WITHOUT D...",2
469,3,8,2015-08-03 18:04:00+00,crystalloid_fluid_order,125,2
470,3,8,2015-08-03 18:04:00+00,vasopressors_dose_order,125.0,2
471,3,8,2015-08-03 18:36:00+00,crystalloid_fluid,1000.0,2
472,3,8,2015-08-03 18:57:00+00,wbc,11.88,1
473,3,8,2015-08-03 18:57:00+00,hematocrit,35.4,1
474,3,8,2015-08-03 18:57:00+00,hemoglobin,12.5,1
475,3,8,2015-08-03 18:57:00+00,platelets,205.0,1
476,3,8,2015-08-03 19:00:00+00,crystalloid_fluid,NaN,2
477,3,8,2015-08-03 19:12:00+00,inr,0.9,1
478,3,8,2015-08-03 19:12:00+00,ptt,27.6,1
479,3,8,2015-08-03 19:30:00+00,crystalloid_fluid_order,125,2
480,3,8,2015-08-03 19:30:00+00,vasopressors_dose_order,125.0,2
481,3,8,2015-08-03 20:30:00+00,crystalloid_fluid,NaN,2
482,3,8,2015-08-03 22:02:00+00,care_unit,Discharge,1
483,3,8,2015-08-03 22:02:00+00,discharge,"{""department"": ""HCGH LABOR & DELIVERY"", ""dispo...",1
586,3,10,2015-03-02 00:19:00+00,care_unit,HCGH LABOR & DELIVERY,1
587,3,10,2015-03-02 00:24:00+00,crystalloid_fluid_order,None,2
588,3,10,2015-03-02 00:28:00+00,vasopressors_dose_order,125.0,2
589,3,10,2015-03-02 00:28:00+00,suspicion_of_infection,True,3
590,3,10,2015-03-02 00:28:00+00,any_antibiotics_order,True,2
591,3,10,2015-03-02 00:28:00+00,crystalloid_fluid_order,125,2
...,...,...,...,...,...,...
28867231,3,223942,2017-04-16 19:20:00+00,metabolic_panel_order,"{""name"": ""COMPREHENSIVE METABOLIC PANEL"", ""sta...",2
28867232,3,223942,2017-04-16 19:20:00+00,cbc_order,"{""name"": ""COMPLETE BLOOD COUNT (CBC) + AUTO DI...",2
28867233,3,223942,2017-04-16 19:39:00+00,crystalloid_fluid,500.0,2
28867234,3,223942,2017-04-16 19:40:00+00,wbc,15.61,1
28867235,3,223942,2017-04-16 19:40:00+00,hematocrit,40.9,1
28867236,3,223942,2017-04-16 19:40:00+00,hemoglobin,14.1,1
28867237,3,223942,2017-04-16 19:40:00+00,platelets,181.0,1
28867238,3,223942,2017-04-16 19:45:00+00,gcs,15.0,1
28867239,3,223942,2017-04-16 19:55:00+00,inr,1.11,1
28867240,3,223942,2017-04-16 20:08:00+00,co2,21.0,1
28867241,3,223942,2017-04-16 20:08:00+00,ast_liver_enzymes,15.0,1
28867242,3,223942,2017-04-16 20:08:00+00,creatinine,0.8,1
28867243,3,223942,2017-04-16 20:08:00+00,potassium,4.2,2
28867244,3,223942,2017-04-16 20:08:00+00,bun_to_cr,24.0,1
28867245,3,223942,2017-04-16 20:08:00+00,bun,19.0,1
28867246,3,223942,2017-04-16 20:08:00+00,bilirubin,0.9,1
28867247,3,223942,2017-04-16 20:08:00+00,alt_liver_enzymes,1.1,1
28867248,3,223942,2017-04-16 20:08:00+00,alkaline_phosphatase,53.0,1
28867249,3,223942,2017-04-16 20:08:00+00,calcium,9.2,1
28867250,3,223942,2017-04-16 20:08:00+00,chloride,102.0,1
28867251,3,223942,2017-04-16 20:08:00+00,anion_gap,17.0,1
28867252,3,223942,2017-04-16 20:08:00+00,sodium,140.0,2
28867253,3,223942,2017-04-16 20:53:00+00,ct_proc,"{""name"": ""CT Chest W/ Contrast"", ""status"": ""Co...",1
28867254,3,223942,2017-04-16 21:37:00+00,iohexol_dose,"{""dose"": 90.0, ""order_tsp"": ""2017-04-16 21:37:...",2
28867255,3,223942,2017-04-16 21:52:00+00,nbp_sys,108.0,1
28867256,3,223942,2017-04-16 21:52:00+00,resp_rate,18.0,1
28867257,3,223942,2017-04-16 21:52:00+00,nbp_dias,60.0,1
28867258,3,223942,2017-04-16 21:52:00+00,heart_rate,93.0,1
28867259,3,223942,2017-04-16 22:36:00+00,care_unit,Discharge,1
28867260,3,223942,2017-04-16 22:36:00+00,discharge,"{""department"": ""HCGH EMERGENCY-ADULTS"", ""dispo...",1

In [6]:
# convert tsp field to python datetime object
# make the time for each id to start from zero
df_t.loc[:, 'tsp'] = df_t.loc[:, 'tsp'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S+%f'))
#df_t.loc[:, 'tsp'] = df_t.groupby('enc_id')['tsp'].apply(lambda x: x - x.iloc[0])

/home/bear/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [7]:
# df_t is now part of the dataframe that contains only the rows with fid being either the signal or the treatments
df_t = df_t.loc[df_t.loc[:, 'fid'].isin(treatment_list + [signal_name]), :]

In [8]:
# for each id, adjust tsp so that time is zero for the first time the signal is measured
adjusted_time = df_t.groupby('enc_id').apply(lambda x: x.loc[:, 'tsp'] - x.loc[x.loc[:, 'fid'] == signal_name, 'tsp'].iloc[0])
# adjusted_time is multiindexed, need to drop one level before assigning it to column tsp
adjusted_time.index = adjusted_time.index.droplevel()
df_t.loc[:, 'tsp_adjusted'] = adjusted_time

/home/bear/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/bear/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [9]:
df_t

,dataset_id,enc_id,tsp,fid,value,confidence,tsp_adjusted
477,3,8,2015-08-03 19:12:00,inr,0.9,1,0 days 00:00:00
607,3,10,2015-03-02 02:24:00,ketorolac_dose,"{""dose"": 30.0, ""order_tsp"": ""2015-03-02 02:22:...",1,-2 days +22:00:00
639,3,10,2015-03-02 08:18:00,ketorolac_dose,"{""dose"": 30.0, ""order_tsp"": ""2015-03-02 02:22:...",1,-1 days +03:54:00
667,3,10,2015-03-02 14:08:00,ketorolac_dose,"{""dose"": 30.0, ""order_tsp"": ""2015-03-02 02:22:...",1,-1 days +09:44:00
694,3,10,2015-03-02 21:25:00,ketorolac_dose,"{""dose"": 30.0, ""order_tsp"": ""2015-03-02 02:22:...",1,-1 days +17:01:00
707,3,10,2015-03-03 02:41:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,-1 days +22:17:00
723,3,10,2015-03-03 04:24:00,inr,0.9,1,0 days 00:00:00
729,3,10,2015-03-03 06:34:00,acetaminophen_dose,"{""dose"": 1000.0, ""order_tsp"": ""2015-03-02 07:4...",1,0 days 02:10:00
731,3,10,2015-03-03 09:12:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,0 days 04:48:00
753,3,10,2015-03-03 15:00:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,0 days 10:36:00
771,3,10,2015-03-03 19:37:00,acetaminophen_dose,"{""dose"": 1000.0, ""order_tsp"": ""2015-03-02 07:4...",1,0 days 15:13:00
772,3,10,2015-03-03 20:11:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,0 days 15:47:00
789,3,10,2015-03-04 01:27:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,0 days 21:03:00
790,3,10,2015-03-04 02:43:00,acetaminophen_dose,"{""dose"": 1000.0, ""order_tsp"": ""2015-03-02 07:4...",1,0 days 22:19:00
820,3,10,2015-03-04 06:48:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,1 days 02:24:00
838,3,10,2015-03-04 09:13:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,1 days 04:49:00
862,3,10,2015-03-04 12:20:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,1 days 07:56:00
886,3,10,2015-03-04 16:22:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,1 days 11:58:00
887,3,10,2015-03-04 18:23:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,1 days 13:59:00
898,3,10,2015-03-05 02:08:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,1 days 21:44:00
902,3,10,2015-03-05 09:15:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,2 days 04:51:00
922,3,10,2015-03-05 14:20:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,2 days 09:56:00
927,3,10,2015-03-05 19:55:00,acetaminophen_dose,"{""dose"": 1000.0, ""order_tsp"": ""2015-03-02 07:4...",1,2 days 15:31:00
928,3,10,2015-03-05 21:18:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,2 days 16:54:00
929,3,10,2015-03-06 02:02:00,acetaminophen_dose,"{""dose"": 1000.0, ""order_tsp"": ""2015-03-02 07:4...",1,2 days 21:38:00
930,3,10,2015-03-06 03:21:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,2 days 22:57:00
937,3,10,2015-03-06 08:29:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,3 days 04:05:00
938,3,10,2015-03-06 10:36:00,acetaminophen_dose,"{""dose"": 1000.0, ""order_tsp"": ""2015-03-02 07:4...",1,3 days 06:12:00
939,3,10,2015-03-06 14:28:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2015-03-02 02:22...",1,3 days 10:04:00
4593,3,45,2014-04-21 10:19:00,inr,1.2,1,0 days 00:00:00
...,...,...,...,...,...,...,...
28858942,3,223731,2017-04-16 09:32:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2017-04-16 09:00:...",1,1 days 06:34:00
28858943,3,223731,2017-04-16 09:33:00,enoxaparin_dose,"{""dose"": 40.0, ""order_tsp"": ""2017-04-15 05:28:...",1,1 days 06:35:00
28860533,3,223770,2017-04-15 07:11:00,inr,1.01,1,0 days 00:00:00
28861132,3,223782,2017-04-15 10:27:00,inr,0.97,1,0 days 00:00:00
28861666,3,223798,2017-04-15 16:39:00,aspirin_dose,"{""dose"": 162.0, ""order_tsp"": ""2017-04-15 16:36...",1,-1 days +12:40:00
28861689,3,223798,2017-04-16 03:59:00,inr,1.0,1,0 days 00:00:00
28861710,3,223798,2017-04-16 08:18:00,enoxaparin_dose,"{""dose"": 40.0, ""order_tsp"": ""2017-04-15 16:36:...",1,0 days 04:19:00
28861711,3,223798,2017-04-16 08:19:00,aspirin_dose,"{""dose"": 162.0, ""order_tsp"": ""2017-04-15 16:36...",1,0 days 04:20:00
28862563,3,223818,2017-04-15 15:29:00,aspirin_dose,"{""dose"": 324.0, ""order_tsp"": ""2017-04-15 15:22...",1,-1 days +23:43:00
28862575,3,223818,2017-04-15 15:46:00,inr,1.01,1,0 days 00:00:00
28863192,3,223831,2017-04-15 16:45:00,inr,1.18,1,0 days 00:00:00
28863225,3,223831,2017-04-16 00:38:00,ketorolac_dose,"{""dose"": 15.0, ""order_tsp"": ""2017-04-15 22:40:...",1,0 days 07:53:00
28863269,3,223831,2017-04-16 09:16:00,ibuprofen_dose,"{""dose"": 600.0, ""order_tsp"": ""2017-04-16 01:53...",1,0 days 16:31:00
28863336,3,223833,2017-04-15 17:35:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-15 17:11...",1,-1 days +18:54:00
28863369,3,223833,2017-04-15 22:41:00,inr,1.07,1,0 days 00:00:00
28864225,3,223854,2017-04-15 21:58:00,inr,1.01,1,0 days 00:00:00
28864242,3,223854,2017-04-15 23:21:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2017-04-15 23:15...",1,0 days 01:23:00
28864276,3,223856,2017-04-15 22:31:00,inr,1.01,1,0 days 00:00:00
28864293,3,223856,2017-04-16 01:08:00,ketorolac_dose,"{""dose"": 30.0, ""order_tsp"": ""2017-04-16 00:53:...",1,0 days 02:37:00
28864722,3,223870,2017-04-16 00:15:00,inr,1.1,1,0 days 00:00:00
28865099,3,223882,2017-04-16 03:25:00,inr,1.02,1,0 days 00:00:00
28865148,3,223882,2017-04-16 11:57:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-16 07:29...",1,0 days 08:32:00
28865405,3,223888,2017-04-16 09:34:00,ketorolac_dose,"{""dose"": 30.0, ""order_tsp"": ""2017-04-16 09:28:...",1,-1 days +20:27:00
28865415,3,223888,2017-04-16 13:07:00,inr,1.12,1,0 days 00:00:00
28865423,3,223888,2017-04-16 13:59:00,heparin_dose,"{""dose"": 4.0, ""order_tsp"": ""2017-04-16 12:39:0...",4,0 days 00:52:00
28865775,3,223897,2017-04-16 11:51:00,inr,1.1,1,0 days 00:00:00
28866494,3,223922,2017-04-16 14:36:00,inr,1.03,1,0 days 00:00:00
28866951,3,223936,2017-04-16 17:30:00,inr,1.06,1,0 days 00:00:00
28867202,3,223941,2017-04-16 20:11:00,inr,1.1,1,0 days 00:00:00
28867239,3,223942,2017-04-16 19:55:00,inr,1.11,1,0 days 00:00:00

In [43]:
cutoff = 5
keep_index = df_t.groupby('enc_id')['fid'].filter(lambda x: x.value_counts().loc['inr'] >= cutoff).index

In [45]:
df_t_cut = df_t.loc[keep_index]

In [69]:
# delete rows whose adjusted time is less than zero
df_t_cut = df_t_cut.loc[df_t_cut.loc[:, 'tsp_adjusted'] >= timedelta(), :]

In [81]:
df_t_cut.loc[:, 'inr'] = df_t_cut.loc[df_t_cut.loc[:, 'fid'].isin([signal_name]), 'value']

/home/bear/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [83]:
for category, names in treatment_names.items():
    df_t_cut.loc[:, category] = df_t_cut.loc[df_t_cut.loc[:, 'fid'].isin(names), 'value']

/home/bear/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/bear/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [85]:
for treatment in treatment_names.keys():
    df_t_cut.loc[df_t_cut.loc[:, treatment].notna(), treatment] = 1
    df_t_cut.loc[:, treatment] = df_t_cut.loc[:, treatment].fillna(value = 0)

/home/bear/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [86]:
df_t_cut

,dataset_id,enc_id,tsp,fid,value,confidence,tsp_adjusted,inr,nsaid,anticoagulant,transfusion,aspirin
84810,3,1020,2014-04-25 19:12:00,inr,1.0,1,0 days 00:00:00,1.0,0,0,0,0
84829,3,1020,2014-04-26 01:51:00,inr,1.0,1,0 days 06:39:00,1.0,0,0,0,0
84831,3,1020,2014-04-26 02:50:00,heparin_dose,"{""dose"": 19.0, ""order_tsp"": ""2014-04-25 15:39:...",4,0 days 07:38:00,NaN,0,1,0,0
84848,3,1020,2014-04-26 07:58:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2014-04-23 17:42...",1,0 days 12:46:00,NaN,0,0,0,1
84873,3,1020,2014-04-26 16:56:00,warfarin_dose,"{""dose"": 10.0, ""order_tsp"": ""2014-04-25 15:44:...",1,0 days 21:44:00,NaN,0,1,0,0
84875,3,1020,2014-04-26 17:38:00,heparin_dose,"{""dose"": 19.0, ""order_tsp"": ""2014-04-25 15:39:...",4,0 days 22:26:00,NaN,0,1,0,0
84907,3,1020,2014-04-27 06:34:00,inr,2.6,1,1 days 11:22:00,2.6,0,0,0,0
84916,3,1020,2014-04-27 08:20:00,heparin_dose,"{""dose"": 25000.0, ""order_tsp"": ""2014-04-27 08:...",4,1 days 13:08:00,NaN,0,1,0,0
84918,3,1020,2014-04-27 08:22:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2014-04-23 17:42...",1,1 days 13:10:00,NaN,0,0,0,1
84924,3,1020,2014-04-27 11:05:00,heparin_dose,"{""dose"": 0, ""order_tsp"": ""2014-04-25 15:39:00""...",1,1 days 15:53:00,NaN,0,1,0,0
84936,3,1020,2014-04-27 17:27:00,warfarin_dose,"{""dose"": 3.0, ""order_tsp"": ""2014-04-27 14:52:0...",1,1 days 22:15:00,NaN,0,1,0,0
84964,3,1020,2014-04-28 07:02:00,inr,6.5,1,2 days 11:50:00,6.5,0,0,0,0
84976,3,1020,2014-04-28 08:32:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2014-04-23 17:42...",1,2 days 13:20:00,NaN,0,0,0,1
85013,3,1020,2014-04-29 07:13:00,inr,4.7,1,3 days 12:01:00,4.7,0,0,0,0
85031,3,1020,2014-04-29 09:35:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2014-04-23 17:42...",1,3 days 14:23:00,NaN,0,0,0,1
85047,3,1020,2014-04-29 17:02:00,warfarin_dose,"{""dose"": 3.0, ""order_tsp"": ""2014-04-27 14:52:0...",1,3 days 21:50:00,NaN,0,1,0,0
85067,3,1020,2014-04-30 07:11:00,inr,2.4,1,4 days 11:59:00,2.4,0,0,0,0
85080,3,1020,2014-04-30 08:04:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2014-04-23 17:42...",1,4 days 12:52:00,NaN,0,0,0,1
100434,3,1221,2014-04-20 12:16:00,inr,1.7,1,0 days 00:00:00,1.7,0,0,0,0
100483,3,1221,2014-04-20 18:19:00,warfarin_dose,"{""dose"": 4.0, ""order_tsp"": ""2014-04-20 15:36:0...",1,0 days 06:03:00,NaN,0,1,0,0
100749,3,1221,2014-04-21 05:00:00,inr,2.4,1,0 days 16:44:00,2.4,0,0,0,0
100962,3,1221,2014-04-21 12:51:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2014-04-21 12:08:...",1,1 days 00:35:00,NaN,0,0,0,1
101087,3,1221,2014-04-21 17:57:00,warfarin_dose,"{""dose"": 1.5, ""order_tsp"": ""2014-04-21 15:06:0...",1,1 days 05:41:00,NaN,0,1,0,0
101313,3,1221,2014-04-22 05:11:00,inr,4.2,1,1 days 16:55:00,4.2,0,0,0,0
101360,3,1221,2014-04-22 09:11:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2014-04-21 12:08:...",1,1 days 20:55:00,NaN,0,0,0,1
101521,3,1221,2014-04-23 03:54:00,inr,3.1,1,2 days 15:38:00,3.1,0,0,0,0
101583,3,1221,2014-04-23 08:10:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2014-04-21 12:08:...",1,2 days 19:54:00,NaN,0,0,0,1
101701,3,1221,2014-04-23 17:49:00,warfarin_dose,"{""dose"": 1.0, ""order_tsp"": ""2014-04-23 15:04:0...",1,3 days 05:33:00,NaN,0,1,0,0
101788,3,1221,2014-04-24 06:21:00,inr,2.8,1,3 days 18:05:00,2.8,0,0,0,0
101817,3,1221,2014-04-24 08:22:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2014-04-21 12:08:...",1,3 days 20:06:00,NaN,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
28807912,3,223038,2017-04-11 08:11:00,transfuse_plasma,True,1,0 days 18:37:00,NaN,0,0,1,0
28807962,3,223038,2017-04-11 09:58:00,inr,1.96,1,0 days 20:24:00,1.96,0,0,0,0
28807986,3,223038,2017-04-11 17:07:00,warfarin_dose,"{""dose"": 5.0, ""order_tsp"": ""2017-04-11 16:18:0...",1,1 days 03:33:00,NaN,0,1,0,0
28808011,3,223038,2017-04-12 00:53:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 21:01...",1,1 days 11:19:00,NaN,1,0,0,0
28808018,3,223038,2017-04-12 05:38:00,inr,2.91,1,1 days 16:04:00,2.91,0,0,0,0
28808047,3,223038,2017-04-12 14:47:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 21:01...",1,2 days 01:13:00,NaN,1,0,0,0
28808067,3,223038,2017-04-12 21:11:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 21:01...",1,2 days 07:37:00,NaN,1,0,0,0
28808077,3,223038,2017-04-13 05:52:00,inr,3.45,1,2 days 16:18:00,3.45,0,0,0,0
28808098,3,223038,2017-04-13 08:57:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 21:01...",1,2 days 19:23:00,NaN,1,0,0,0
28808107,3,223038,2017-04-13 15:39:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 21:01...",1,3 days 02:05:00,NaN,1,0,0,0
28808126,3,223038,2017-04-14 05:25:00,inr,2.13,1,3 days 15:51:00,2.13,0,0,0,0
28808163,3,223038,2017-04-14 18:22:00,warfarin_dose,"{""dose"": 5.0, ""order_tsp"": ""2017-04-14 10:48:0...",1,4 days 04:48:00,NaN,0,1,0,0
28808184,3,223038,2017-04-15 05:37:00,inr,1.55,1,4 days 16:03:00,1.55,0,0,0,0
28808881,3,223047,2017-04-10 17:26:00,inr,1.64,1,0 days 00:00:00,1.64,0,0,0,0
28808934,3,223047,2017-04-11 00:00:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 23:04...",1,0 days 06:34:00,NaN,1,0,0,0
28808963,3,223047,2017-04-11 05:59:00,inr,1.48,1,0 days 12:33:00,1.48,0,0,0,0
28808990,3,223047,2017-04-11 09:01:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2017-04-11 00:55:...",1,0 days 15:35:00,NaN,0,0,0,1
28809022,3,223047,2017-04-11 18:07:00,warfarin_dose,"{""dose"": 7.5, ""order_tsp"": ""2017-04-11 11:53:0...",1,1 days 00:41:00,NaN,0,1,0,0
28809064,3,223047,2017-04-12 06:25:00,inr,1.71,1,1 days 12:59:00,1.71,0,0,0,0
28809076,3,223047,2017-04-12 08:33:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2017-04-11 00:55:...",1,1 days 15:07:00,NaN,0,0,0,1
28809114,3,223047,2017-04-12 18:38:00,warfarin_dose,"{""dose"": 7.5, ""order_tsp"": ""2017-04-12 10:19:0...",1,2 days 01:12:00,NaN,0,1,0,0
28809153,3,223047,2017-04-13 06:29:00,inr,1.81,1,2 days 13:03:00,1.81,0,0,0,0
28809168,3,223047,2017-04-13 09:15:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2017-04-11 00:55:...",1,2 days 15:49:00,NaN,0,0,0,1
28809200,3,223047,2017-04-13 18:03:00,warfarin_dose,"{""dose"": 7.5, ""order_tsp"": ""2017-04-13 11:39:0...",1,3 days 00:37:00,NaN,0,1,0,0
28809231,3,223047,2017-04-14 04:45:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 23:04...",1,3 days 11:19:00,NaN,1,0,0,0
28809236,3,223047,2017-04-14 05:16:00,inr,2.32,1,3 days 11:50:00,2.32,0,0,0,0
28809246,3,223047,2017-04-14 08:33:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2017-04-11 00:55:...",1,3 days 15:07:00,NaN,0,0,0,1
28809295,3,223047,2017-04-14 17:58:00,warfarin_dose,"{""dose"": 7.5, ""order_tsp"": ""2017-04-14 12:20:0...",1,4 days 00:32:00,NaN,0,1,0,0
28809350,3,223047,2017-04-15 06:57:00,inr,2.7,1,4 days 13:31:00,2.7,0,0,0,0
28809369,3,223047,2017-04-15 09:09:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2017-04-11 00:55:...",1,4 days 15:43:00,NaN,0,0,0,1

### TO DO (not yet in order)
* Bin observation and treatments using resampling
* Cast dataframe to matrix

In [72]:
np.unique(df_t_cut['fid'])

array(['acetaminophen_dose', 'apixaban_dose', 'aspirin_dose',
       'celecoxib_dose', 'dabigatran_dose', 'dalteparin_dose',
       'enoxaparin_dose', 'fondaparinux_dose', 'heparin_dose',
       'ibuprofen_dose', 'indomethacin_dose', 'inr', 'ketorolac_dose',
       'meloxicam_dose', 'naproxen_dose', 'rivaroxaban_dose',
       'transfuse_plasma', 'transfuse_platelets', 'warfarin_dose'],
      dtype=object)

In [71]:
df_t_cut.groupby('enc_id').apply(lambda x: x.set_index('tsp_adjusted').resample('2T').mean())

                        dataset_id    enc_id  confidence
enc_id tsp_adjusted
1020   0 days 00:00:00         3.0    1020.0         1.0
       0 days 00:02:00         NaN       NaN         NaN
       0 days 00:04:00         NaN       NaN         NaN
       0 days 00:06:00         NaN       NaN         NaN
       0 days 00:08:00         NaN       NaN         NaN
       0 days 00:10:00         NaN       NaN         NaN
       0 days 00:12:00         NaN       NaN         NaN
       0 days 00:14:00         NaN       NaN         NaN
       0 days 00:16:00         NaN       NaN         NaN
       0 days 00:18:00         NaN       NaN         NaN
       0 days 00:20:00         NaN       NaN         NaN
       0 days 00:22:00         NaN       NaN         NaN
       0 days 00:24:00         NaN       NaN         NaN
       0 days 00:26:00         NaN       NaN         NaN
       0 days 00:28:00         NaN       NaN         NaN
       0 days 00:30:00         NaN       NaN         NaN
       0 days 00:32:00         NaN       NaN         NaN
       0 days 00:34:00         NaN       NaN         NaN
       0 days 00:36:00         NaN       NaN         NaN
       0 days 00:38:00         NaN       NaN         NaN
       0 days 00:40:00         NaN       NaN         NaN
       0 days 00:42:00         NaN       NaN         NaN
       0 days 00:44:00         NaN       NaN         NaN
       0 days 00:46:00         NaN       NaN         NaN
       0 days 00:48:00         NaN       NaN         NaN
       0 days 00:50:00         NaN       NaN         NaN
       0 days 00:52:00         NaN       NaN         NaN
       0 days 00:54:00         NaN       NaN         NaN
       0 days 00:56:00         NaN       NaN         NaN
       0 days 00:58:00         NaN       NaN         NaN
...                            ...       ...         ...
223047 4 days 14:44:00         NaN       NaN         NaN
       4 days 14:46:00         NaN       NaN         NaN
       4 days 14:48:00         NaN       NaN         NaN
       4 days 14:50:00         NaN       NaN         NaN
       4 days 14:52:00         NaN       NaN         NaN
       4 days 14:54:00         NaN       NaN         NaN
       4 days 14:56:00         NaN       NaN         NaN
       4 days 14:58:00         NaN       NaN         NaN
       4 days 15:00:00         NaN       NaN         NaN
       4 days 15:02:00         NaN       NaN         NaN
       4 days 15:04:00         NaN       NaN         NaN
       4 days 15:06:00         NaN       NaN         NaN
       4 days 15:08:00         NaN       NaN         NaN
       4 days 15:10:00         NaN       NaN         NaN
       4 days 15:12:00         NaN       NaN         NaN
       4 days 15:14:00         NaN       NaN         NaN
       4 days 15:16:00         NaN       NaN         NaN
       4 days 15:18:00         NaN       NaN         NaN
       4 days 15:20:00         NaN       NaN         NaN
       4 days 15:22:00         NaN       NaN         NaN
       4 days 15:24:00         NaN       NaN         NaN
       4 days 15:26:00         NaN       NaN         NaN
       4 days 15:28:00         NaN       NaN         NaN
       4 days 15:30:00         NaN       NaN         NaN
       4 days 15:32:00         NaN       NaN         NaN
       4 days 15:34:00         NaN       NaN         NaN
       4 days 15:36:00         NaN       NaN         NaN
       4 days 15:38:00         NaN       NaN         NaN
       4 days 15:40:00         NaN       NaN         NaN
       4 days 15:42:00         3.0  223047.0         1.0

[15676905 rows x 3 columns]