In [1]:
import pandas as pd
import pickle
import numpy as np
from datetime import datetime, timedelta
from EM import EM

### TO DO
* Don't drop all the treatments before the first measurements. Depending on how far we want to look back (another thing to specify), keep the relevant ones

In [2]:
cdm_t = pd.read_pickle('../Data/cdm_t.pkl')
cdm_s = pd.read_pickle('../Data/cdm_s.pkl')

### Data Query and Preprocessing Parameters

In [3]:
signal_name = 'inr'

treatment_names = {}
treatment_names['nsaid'] = ['acetaminophen_dose','celecoxib_dose','diclofenac_dose','ibuprofen_dose','indomethacin_dose',
'ketorolac_dose','meloxicam_dose','naproxen_dose']
treatment_names['anticoagulant'] = ['warfarin_dose','heparin_dose','dabigatran_dose','edoxaban_dose','rivaroxaban_dose',
'apixaban_dose','enoxaparin_dose','dalteparin_dose','fondaparinux_dose']
treatment_names['transfusion_plasma'] = ['transfuse_plasma']
treatment_names['transfusion_platelets'] = ['transfuse_platelets']
treatment_names['aspirin'] = ['aspirin_dose']

# chronic dict is keyed on the keywords of the chronic conditions we care about
# the keywords are specified in chronic_keywords
# the value is a list of all the features in cdm_s that contain that keyword
chronic_keywords = ['liver_disease', 'sickle_cell']
chronic_names = {}

demographic_names = ['age']

# the least number of signal observation a patient needs to have to be included
cutoff = 5

# bin_size is a offset alias used by the resample method
bin_size = '18H'
bin_size_num = 18

# the maximum percent of missingness allowed in observations for each individual
max_missing_pct = .4

# number of past time points where treatment effects are considered
num_past_effects = 3

### Model Training Parameters

In [4]:
# EM Setting
training_pct = .8
single_effect = False

### Preprocessing

In [5]:
# fill in chronic name dict
all_chronic = cdm_s.loc[:, 'fid'].unique()
for name in chronic_keywords:
    chronic_names[name] = [s for s in all_chronic if name in s]

In [6]:
# put all the treatment names into a list to get the corresponding columns
treatment_list = []
for name in treatment_names.values():
    treatment_list.append(name)
# flatten the list
treatment_list = [item for sublist in treatment_list for item in sublist]

In [7]:
# df_t is part of the original dataframe that has all the ids who have measurements for the signal we are interested 
# in
signal = cdm_t.loc[cdm_t.loc[:, 'fid'] == signal_name, 'value']
ids = np.unique(cdm_t.loc[signal.index, 'enc_id'])
df_t = cdm_t.loc[cdm_t.loc[:, 'enc_id'].isin(ids), :]

In [8]:
# df_t is now part of the dataframe that contains only the rows with fid being either the signal or the treatments
df_t = df_t.loc[df_t.loc[:, 'fid'].isin(treatment_list + [signal_name]), :]

In [9]:
# convert tsp field to python datetime object
df_t.loc[:, 'tsp'] = df_t.loc[:, 'tsp'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S+%f'))
#df_t.loc[:, 'tsp'] = df_t.groupby('enc_id')['tsp'].apply(lambda x: x - x.iloc[0])

In [10]:
# for each id, adjust tsp so that time is zero for the first time the signal is measured
adjusted_time = df_t.groupby('enc_id').apply(lambda x: x.loc[:, 'tsp'] - x.loc[x.loc[:, 'fid'] == signal_name, 'tsp'].iloc[0])
# adjusted_time is multiindexed, need to drop one level before assigning it to column tsp
adjusted_time.index = adjusted_time.index.droplevel()
df_t.loc[:, 'tsp_adjusted'] = adjusted_time

In [11]:
# cut the dataframe based on a cutoff number on the number of signal measurement a patient has
keep_index = df_t.groupby('enc_id')['fid'].filter(lambda x: x.value_counts().loc['inr'] >= cutoff).index
df_t_cut = df_t.loc[keep_index].copy()

In [12]:
# delete rows whose adjusted time is less than the earliest treatment effect we wish to consider
df_t_cut = df_t_cut.loc[df_t_cut.loc[:, 'tsp_adjusted'] >= timedelta(hours=-num_past_effects*bin_size_num), :]

In [13]:
# delete rows before the first observation
#df_t_cut = df_t_cut.loc[df_t_cut.loc[:, 'tsp_adjusted'] >= timedelta(), :]

#adjusted_time = df_t_cut.groupby('enc_id').apply(lambda x: x.loc[:, 'tsp_adjusted']-x.loc[:, 'tsp_adjusted'].iloc[0])
#adjusted_time.index = adjusted_time.index.droplevel()
#df_t_cut.loc[:, 'tsp_adjusted'] = adjusted_time

In [14]:
df_t_cut

,dataset_id,enc_id,tsp,fid,value,confidence,tsp_adjusted
84516,3,1020,2014-04-23 15:41:00,heparin_dose,"{""dose"": 5000.0, ""order_tsp"": ""2014-04-23 15:4...",4,-3 days +20:29:00
84575,3,1020,2014-04-23 17:55:00,heparin_dose,"{""dose"": 1000.0, ""order_tsp"": ""2014-04-23 17:0...",4,-3 days +22:43:00
84601,3,1020,2014-04-23 18:55:00,heparin_dose,"{""dose"": 1000.0, ""order_tsp"": ""2014-04-23 17:0...",4,-3 days +23:43:00
84619,3,1020,2014-04-23 19:55:00,heparin_dose,"{""dose"": 1000.0, ""order_tsp"": ""2014-04-23 17:0...",4,-2 days +00:43:00
84635,3,1020,2014-04-23 20:55:00,heparin_dose,"{""dose"": 1000.0, ""order_tsp"": ""2014-04-23 17:0...",4,-2 days +01:43:00
84644,3,1020,2014-04-23 21:30:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2014-04-23 17:42...",1,-2 days +02:18:00
84682,3,1020,2014-04-24 07:54:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2014-04-23 17:42...",1,-2 days +12:42:00
84712,3,1020,2014-04-24 14:41:00,heparin_dose,"{""dose"": 1100.0, ""order_tsp"": ""2014-04-23 17:0...",4,-2 days +19:29:00
84716,3,1020,2014-04-24 15:15:00,heparin_dose,"{""dose"": 1100.0, ""order_tsp"": ""2014-04-23 17:0...",4,-2 days +20:03:00
84737,3,1020,2014-04-24 23:02:00,heparin_dose,"{""dose"": 2000.0, ""order_tsp"": ""2014-04-23 17:4...",4,-1 days +03:50:00
84767,3,1020,2014-04-25 06:14:00,heparin_dose,"{""dose"": 2000.0, ""order_tsp"": ""2014-04-23 17:4...",4,-1 days +11:02:00
84779,3,1020,2014-04-25 10:03:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2014-04-23 17:42...",1,-1 days +14:51:00
84786,3,1020,2014-04-25 12:46:00,heparin_dose,"{""dose"": 1500.0, ""order_tsp"": ""2014-04-23 17:0...",4,-1 days +17:34:00
84800,3,1020,2014-04-25 15:43:00,heparin_dose,"{""dose"": 15.0, ""order_tsp"": ""2014-04-25 15:39:...",4,-1 days +20:31:00
84804,3,1020,2014-04-25 18:35:00,warfarin_dose,"{""dose"": 10.0, ""order_tsp"": ""2014-04-25 15:44:...",1,-1 days +23:23:00
84810,3,1020,2014-04-25 19:12:00,inr,1.0,1,0 days 00:00:00
84829,3,1020,2014-04-26 01:51:00,inr,1.0,1,0 days 06:39:00
84831,3,1020,2014-04-26 02:50:00,heparin_dose,"{""dose"": 19.0, ""order_tsp"": ""2014-04-25 15:39:...",4,0 days 07:38:00
84848,3,1020,2014-04-26 07:58:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2014-04-23 17:42...",1,0 days 12:46:00
84873,3,1020,2014-04-26 16:56:00,warfarin_dose,"{""dose"": 10.0, ""order_tsp"": ""2014-04-25 15:44:...",1,0 days 21:44:00
84875,3,1020,2014-04-26 17:38:00,heparin_dose,"{""dose"": 19.0, ""order_tsp"": ""2014-04-25 15:39:...",4,0 days 22:26:00
84907,3,1020,2014-04-27 06:34:00,inr,2.6,1,1 days 11:22:00
84916,3,1020,2014-04-27 08:20:00,heparin_dose,"{""dose"": 25000.0, ""order_tsp"": ""2014-04-27 08:...",4,1 days 13:08:00
84918,3,1020,2014-04-27 08:22:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2014-04-23 17:42...",1,1 days 13:10:00
84924,3,1020,2014-04-27 11:05:00,heparin_dose,"{""dose"": 0, ""order_tsp"": ""2014-04-25 15:39:00""...",1,1 days 15:53:00
84936,3,1020,2014-04-27 17:27:00,warfarin_dose,"{""dose"": 3.0, ""order_tsp"": ""2014-04-27 14:52:0...",1,1 days 22:15:00
84964,3,1020,2014-04-28 07:02:00,inr,6.5,1,2 days 11:50:00
84976,3,1020,2014-04-28 08:32:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2014-04-23 17:42...",1,2 days 13:20:00
85013,3,1020,2014-04-29 07:13:00,inr,4.7,1,3 days 12:01:00
85031,3,1020,2014-04-29 09:35:00,aspirin_dose,"{""dose"": 325.0, ""order_tsp"": ""2014-04-23 17:42...",1,3 days 14:23:00
...,...,...,...,...,...,...,...
28807912,3,223038,2017-04-11 08:11:00,transfuse_plasma,True,1,0 days 18:37:00
28807962,3,223038,2017-04-11 09:58:00,inr,1.96,1,0 days 20:24:00
28807986,3,223038,2017-04-11 17:07:00,warfarin_dose,"{""dose"": 5.0, ""order_tsp"": ""2017-04-11 16:18:0...",1,1 days 03:33:00
28808011,3,223038,2017-04-12 00:53:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 21:01...",1,1 days 11:19:00
28808018,3,223038,2017-04-12 05:38:00,inr,2.91,1,1 days 16:04:00
28808047,3,223038,2017-04-12 14:47:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 21:01...",1,2 days 01:13:00
28808067,3,223038,2017-04-12 21:11:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 21:01...",1,2 days 07:37:00
28808077,3,223038,2017-04-13 05:52:00,inr,3.45,1,2 days 16:18:00
28808098,3,223038,2017-04-13 08:57:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 21:01...",1,2 days 19:23:00
28808107,3,223038,2017-04-13 15:39:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 21:01...",1,3 days 02:05:00
28808126,3,223038,2017-04-14 05:25:00,inr,2.13,1,3 days 15:51:00
28808163,3,223038,2017-04-14 18:22:00,warfarin_dose,"{""dose"": 5.0, ""order_tsp"": ""2017-04-14 10:48:0...",1,4 days 04:48:00
28808184,3,223038,2017-04-15 05:37:00,inr,1.55,1,4 days 16:03:00
28808881,3,223047,2017-04-10 17:26:00,inr,1.64,1,0 days 00:00:00
28808934,3,223047,2017-04-11 00:00:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 23:04...",1,0 days 06:34:00
28808963,3,223047,2017-04-11 05:59:00,inr,1.48,1,0 days 12:33:00
28808990,3,223047,2017-04-11 09:01:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2017-04-11 00:55:...",1,0 days 15:35:00
28809022,3,223047,2017-04-11 18:07:00,warfarin_dose,"{""dose"": 7.5, ""order_tsp"": ""2017-04-11 11:53:0...",1,1 days 00:41:00
28809064,3,223047,2017-04-12 06:25:00,inr,1.71,1,1 days 12:59:00
28809076,3,223047,2017-04-12 08:33:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2017-04-11 00:55:...",1,1 days 15:07:00
28809114,3,223047,2017-04-12 18:38:00,warfarin_dose,"{""dose"": 7.5, ""order_tsp"": ""2017-04-12 10:19:0...",1,2 days 01:12:00
28809153,3,223047,2017-04-13 06:29:00,inr,1.81,1,2 days 13:03:00
28809168,3,223047,2017-04-13 09:15:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2017-04-11 00:55:...",1,2 days 15:49:00
28809200,3,223047,2017-04-13 18:03:00,warfarin_dose,"{""dose"": 7.5, ""order_tsp"": ""2017-04-13 11:39:0...",1,3 days 00:37:00
28809231,3,223047,2017-04-14 04:45:00,acetaminophen_dose,"{""dose"": 650.0, ""order_tsp"": ""2017-04-10 23:04...",1,3 days 11:19:00
28809236,3,223047,2017-04-14 05:16:00,inr,2.32,1,3 days 11:50:00
28809246,3,223047,2017-04-14 08:33:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2017-04-11 00:55:...",1,3 days 15:07:00
28809295,3,223047,2017-04-14 17:58:00,warfarin_dose,"{""dose"": 7.5, ""order_tsp"": ""2017-04-14 12:20:0...",1,4 days 00:32:00
28809350,3,223047,2017-04-15 06:57:00,inr,2.7,1,4 days 13:31:00
28809369,3,223047,2017-04-15 09:09:00,aspirin_dose,"{""dose"": 81.0, ""order_tsp"": ""2017-04-11 00:55:...",1,4 days 15:43:00

In [15]:
%%capture
# create column for the signal
df_t_cut.loc[:, signal_name] = df_t_cut.loc[df_t_cut.loc[:, 'fid'].isin([signal_name]), 'value']
df_t_cut.loc[:, signal_name] = df_t_cut.loc[:, signal_name].apply(lambda x: float(x))

In [16]:
%%capture
# create a column for each treatment category
# binarize
for category, names in treatment_names.items():
    df_t_cut.loc[:, category] = df_t_cut.loc[df_t_cut.loc[:, 'fid'].isin(names), 'value']
for treatment in treatment_names.keys():
    df_t_cut.loc[df_t_cut.loc[:, treatment].notna(), treatment] = 1
    df_t_cut.loc[:, treatment] = df_t_cut.loc[:, treatment].fillna(value = 0)

In [17]:
# for every patient, delete all rows after the last valid signal measurement 
df_t_cut = df_t_cut.groupby('enc_id').apply(lambda x: x.loc[x.index <= x.loc[:, 'inr'].last_valid_index(), :]).reset_index(drop=True)

In [57]:
# put signals in bins
binned_signal = df_t_cut.loc[:, ['enc_id', 'tsp_adjusted', signal_name]].dropna().groupby('enc_id').apply(lambda x: x.loc[:, ['tsp_adjusted', signal_name]].resample(bin_size, on='tsp_adjusted', base=0).mean())
binned_signal.reset_index(level='enc_id', inplace=True)
new_times = binned_signal.index.get_level_values('tsp_adjusted')
binned_signal.loc[:, 'time'] = new_times
binned_signal.reset_index(drop=True, inplace=True)

In [58]:
binned_signal

       enc_id    inr             time
0        1020  1.000  0 days 00:00:00
1        1020  2.600  0 days 18:00:00
2        1020    NaN  1 days 12:00:00
3        1020  6.500  2 days 06:00:00
4        1020  4.700  3 days 00:00:00
5        1020  2.400  3 days 18:00:00
6        1221  2.050  0 days 00:00:00
7        1221    NaN  0 days 18:00:00
8        1221  4.200  1 days 12:00:00
9        1221  3.100  2 days 06:00:00
10       1221    NaN  3 days 00:00:00
11       1221  2.800  3 days 18:00:00
12       1221  4.100  4 days 12:00:00
13       1221  3.800  5 days 06:00:00
14       1221    NaN  6 days 00:00:00
15       1221  3.700  6 days 18:00:00
16       1221  3.500  7 days 12:00:00
17       1221  2.400  8 days 06:00:00
18       1221    NaN  9 days 00:00:00
19       1221  3.000  9 days 18:00:00
20       1221  1.300 10 days 12:00:00
21       1221  1.200 11 days 06:00:00
22       1221  1.200 12 days 00:00:00
23       1221    NaN 12 days 18:00:00
24       1221  1.100 13 days 12:00:00
25       1221  1.100 14 days 06:00:00
26       1221    NaN 15 days 00:00:00
27       1221  1.100 15 days 18:00:00
28       1221  1.000 16 days 12:00:00
29       1221  1.100 17 days 06:00:00
...       ...    ...              ...
28100  222822  1.785  0 days 00:00:00
28101  222822  2.250  0 days 18:00:00
28102  222822  3.980  1 days 12:00:00
28103  222822    NaN  2 days 06:00:00
28104  222822  3.920  3 days 00:00:00
28105  222877  6.230  0 days 00:00:00
28106  222877  4.760  0 days 18:00:00
28107  222877  1.710  1 days 12:00:00
28108  222877  1.420  2 days 06:00:00
28109  222877  1.470  3 days 00:00:00
28110  222909  2.300  0 days 00:00:00
28111  222909  1.350  0 days 18:00:00
28112  222909    NaN  1 days 12:00:00
28113  222909  1.180  2 days 06:00:00
28114  222909  1.130  3 days 00:00:00
28115  222909  1.410  3 days 18:00:00
28116  223038  3.095  0 days 00:00:00
28117  223038  1.960  0 days 18:00:00
28118  223038  2.910  1 days 12:00:00
28119  223038  3.450  2 days 06:00:00
28120  223038  2.130  3 days 00:00:00
28121  223038    NaN  3 days 18:00:00
28122  223038  1.550  4 days 12:00:00
28123  223047  1.560  0 days 00:00:00
28124  223047    NaN  0 days 18:00:00
28125  223047  1.710  1 days 12:00:00
28126  223047  1.810  2 days 06:00:00
28127  223047  2.320  3 days 00:00:00
28128  223047    NaN  3 days 18:00:00
28129  223047  2.700  4 days 12:00:00

[28130 rows x 3 columns]

In [21]:
# seperate the rows with positive and negative time to different dataframe to do resampling

# every row with nonnegative time
df_t_pos = df_t_cut.loc[df_t_cut.loc[:, 'tsp_adjusted'] >= timedelta(), :]
# every row with nonpositive time
df_t_neg = df_t_cut.loc[df_t_cut.loc[:, 'tsp_adjusted'] <= timedelta(), :]

In [22]:
%%capture
# make all the negative time positive, so the largest value is the time point farthest out
# necessary because resampling starts from the smallest time, we want it to be zero
df_t_neg.loc[:, 'tsp_adjusted'] = df_t_neg.loc[:, 'tsp_adjusted'].apply(lambda x: -x)

In [85]:
# binned treatments for time points prior to the first signal observation
binned_treatment_prev = df_t_neg.loc[:, ['enc_id', 'tsp_adjusted']+ list(treatment_names.keys())].groupby('enc_id').apply(lambda x: x.resample(bin_size, on='tsp_adjusted').max())
binned_treatment_prev.loc[:, 'enc_id'].fillna(method='bfill', inplace=True)
binned_treatment_prev.fillna(0, inplace=True)
new_times = binned_treatment_prev.index.get_level_values('tsp_adjusted')
binned_treatment_prev.reset_index(drop=True, inplace=True)
binned_treatment_prev.loc[:, 'time'] = new_times

In [86]:
# for some patient there are no treatments before the first observation
# but to allow the model to work consistently, we add rows with all zeros to those patients
def add_rows_treatment(x):
    last_time = x.loc[:, 'time'].iloc[-1]
    while last_time < timedelta(hours=(num_past_effects-1)*bin_size_num):
        last_row = x.iloc[-1, :]
        new_last_time = last_time + timedelta(hours=bin_size_num)
        last_row.loc['time'] = new_last_time
        last_row.loc[list(treatment_names.keys())] = 0
        last_time = new_last_time
        x = x.append(last_row)
    return x

binned_treatment_prev = binned_treatment_prev.groupby('enc_id').apply(lambda x: add_rows_treatment(x))
binned_treatment_prev.reset_index(drop=True, inplace=True)

In [87]:
# adjust time so that the farthest out time point is time zero
positive_time = binned_treatment_prev.groupby('enc_id').apply(lambda x: (x.loc[:, 'time'].iloc[-1]-x.loc[:, 'time']))
positive_time.reset_index(drop=True, inplace=True)
binned_treatment_prev.loc[:, 'time'] = positive_time

In [88]:
# flip row order so| time is in increasing order
binned_treatment_prev = binned_treatment_prev.groupby('enc_id').apply(lambda x: x.iloc[::-1])
binned_treatment_prev.reset_index(drop=True, inplace=True)

In [89]:
# treatments prior to the first observation is stored seperatedly from those after
# so signals and treatments after the first observation can use the same starting time point
binned_treatment_prev

,enc_id,tsp_adjusted,nsaid,anticoagulant,transfusion_plasma,transfusion_platelets,aspirin,time
0,1020.0,2 days 03:31:00,0.0,1.0,0.0,0.0,1.0,0 days 00:00:00
1,1020.0,1 days 11:18:00,0.0,1.0,0.0,0.0,1.0,0 days 18:00:00
2,1020.0,0 days 12:58:00,0.0,1.0,0.0,0.0,1.0,1 days 12:00:00
3,1221.0,0 days 03:42:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
4,1221.0,0 days 03:42:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
5,1221.0,0 days 03:42:00,0.0,1.0,0.0,0.0,0.0,1 days 12:00:00
6,1319.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7,1319.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
8,1319.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
9,1330.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
10,1330.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
11,1330.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
12,1337.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
13,1337.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
14,1337.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
15,1575.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
16,1575.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
17,1575.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
18,1602.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
19,1602.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
20,1602.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
21,1793.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
22,1793.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
23,1793.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
24,1905.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
25,1905.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
26,1905.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
27,2072.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
28,2072.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
29,2072.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
...,...,...,...,...,...,...,...,...
7542,221586.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7543,221586.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7544,221586.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7545,221709.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7546,221709.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7547,221709.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7548,221885.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7549,221885.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7550,221885.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7551,222005.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7552,222005.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7553,222005.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7554,222286.0,0 days 02:32:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7555,222286.0,0 days 02:32:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7556,222286.0,0 days 02:32:00,1.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7557,222822.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7558,222822.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7559,222822.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7560,222877.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7561,222877.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7562,222877.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7563,222909.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7564,222909.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7565,222909.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7566,223038.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7567,223038.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7568,223038.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7569,223047.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7570,223047.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7571,223047.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00

In [53]:
# resampling for treatments after the first signal observation
# the first time point for each patient is num_past_effects*bin_size_num
binned_treatment_post = df_t_pos.loc[:, ['enc_id', 'tsp_adjusted']+ list(treatment_names.keys())].groupby('enc_id').apply(lambda x: x.resample(bin_size, on='tsp_adjusted').max())
# since the last id should not be nan, use bfill to fill the id column
# it's important for id column to be correct since we use it to combine prev and post binned treatments
#binned_treatment_post.loc[:, 'enc_id'].fillna(method='bfill', inplace=True)
binned_treatment_post.fillna(0, inplace=True)
new_time = binned_treatment_post.index.get_level_values('tsp_adjusted') #+ timedelta(hours=num_past_effects*bin_size_num)
binned_treatment_post.loc[:, 'time'] = new_time
binned_treatment_post.reset_index(drop=True, inplace=True)

In [54]:
binned_treatment_post

,enc_id,tsp_adjusted,nsaid,anticoagulant,transfusion_plasma,transfusion_platelets,aspirin,time
0,1020.0,0 days 12:46:00,0.0,1.0,0.0,0.0,1.0,0 days 00:00:00
1,1020.0,1 days 11:22:00,0.0,1.0,0.0,0.0,0.0,0 days 18:00:00
2,1020.0,1 days 22:15:00,0.0,1.0,0.0,0.0,1.0,1 days 12:00:00
3,1020.0,2 days 13:20:00,0.0,0.0,0.0,0.0,1.0,2 days 06:00:00
4,1020.0,3 days 14:23:00,0.0,0.0,0.0,0.0,1.0,3 days 00:00:00
5,1020.0,4 days 11:59:00,0.0,1.0,0.0,0.0,0.0,3 days 18:00:00
6,1221.0,0 days 16:44:00,0.0,1.0,0.0,0.0,0.0,0 days 00:00:00
7,1221.0,1 days 05:41:00,0.0,1.0,0.0,0.0,1.0,0 days 18:00:00
8,1221.0,1 days 20:55:00,0.0,0.0,0.0,0.0,1.0,1 days 12:00:00
9,1221.0,2 days 19:54:00,0.0,0.0,0.0,0.0,1.0,2 days 06:00:00
10,1221.0,3 days 05:33:00,0.0,1.0,0.0,0.0,0.0,3 days 00:00:00
11,1221.0,4 days 05:55:00,0.0,1.0,0.0,0.0,1.0,3 days 18:00:00
12,1221.0,4 days 21:10:00,0.0,0.0,0.0,0.0,1.0,4 days 12:00:00
13,1221.0,5 days 19:52:00,0.0,0.0,0.0,0.0,1.0,5 days 06:00:00
14,0.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,6 days 00:00:00
15,1221.0,6 days 20:30:00,0.0,0.0,0.0,0.0,1.0,6 days 18:00:00
16,1221.0,7 days 23:26:00,0.0,0.0,0.0,0.0,1.0,7 days 12:00:00
17,1221.0,8 days 21:18:00,0.0,0.0,0.0,0.0,1.0,8 days 06:00:00
18,1221.0,9 days 05:25:00,0.0,1.0,0.0,0.0,0.0,9 days 00:00:00
19,1221.0,10 days 00:48:00,0.0,0.0,0.0,0.0,1.0,9 days 18:00:00
20,1221.0,10 days 22:23:00,0.0,0.0,0.0,0.0,1.0,10 days 12:00:00
21,1221.0,11 days 20:54:00,0.0,0.0,0.0,0.0,0.0,11 days 06:00:00
22,1221.0,12 days 17:44:00,0.0,0.0,0.0,0.0,1.0,12 days 00:00:00
23,1221.0,12 days 21:25:00,0.0,0.0,0.0,0.0,1.0,12 days 18:00:00
24,1221.0,13 days 20:34:00,0.0,0.0,0.0,0.0,1.0,13 days 12:00:00
25,1221.0,14 days 21:00:00,0.0,0.0,0.0,0.0,1.0,14 days 06:00:00
26,1221.0,15 days 06:08:00,0.0,1.0,0.0,0.0,0.0,15 days 00:00:00
27,1221.0,16 days 04:45:00,0.0,1.0,0.0,0.0,1.0,15 days 18:00:00
28,1221.0,16 days 19:58:00,0.0,0.0,0.0,0.0,1.0,16 days 12:00:00
29,1221.0,17 days 19:07:00,0.0,1.0,0.0,0.0,0.0,17 days 06:00:00
...,...,...,...,...,...,...,...,...
28100,222822.0,0 days 17:42:00,0.0,1.0,1.0,0.0,0.0,0 days 00:00:00
28101,222822.0,1 days 02:05:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
28102,222822.0,2 days 02:45:00,0.0,1.0,0.0,0.0,0.0,1 days 12:00:00
28103,0.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,2 days 06:00:00
28104,222822.0,3 days 02:40:00,0.0,0.0,0.0,0.0,0.0,3 days 00:00:00
28105,222877.0,0 days 07:23:00,1.0,0.0,0.0,0.0,0.0,0 days 00:00:00
28106,222877.0,0 days 18:16:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
28107,222877.0,2 days 04:59:00,0.0,1.0,0.0,0.0,0.0,1 days 12:00:00
28108,222877.0,2 days 15:57:00,0.0,0.0,0.0,0.0,0.0,2 days 06:00:00
28109,222877.0,3 days 17:52:00,0.0,1.0,0.0,0.0,0.0,3 days 00:00:00
28110,222909.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
28111,222909.0,1 days 08:16:00,1.0,0.0,0.0,0.0,0.0,0 days 18:00:00
28112,0.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
28113,222909.0,2 days 21:35:00,1.0,1.0,0.0,0.0,0.0,2 days 06:00:00
28114,222909.0,3 days 13:12:00,1.0,1.0,0.0,0.0,0.0,3 days 00:00:00
28115,222909.0,4 days 09:25:00,1.0,1.0,0.0,0.0,0.0,3 days 18:00:00
28116,223038.0,0 days 17:15:00,0.0,0.0,1.0,0.0,0.0,0 days 00:00:00
28117,223038.0,1 days 11:19:00,1.0,1.0,1.0,0.0,0.0,0 days 18:00:00
28118,223038.0,2 days 01:13:00,1.0,0.0,0.0,0.0,0.0,1 days 12:00:00
28119,223038.0,2 days 19:23:00,1.0,0.0,0.0,0.0,0.0,2 days 06:00:00
28120,223038.0,3 days 15:51:00,1.0,0.0,0.0,0.0,0.0,3 days 00:00:00
28121,223038.0,4 days 04:48:00,0.0,1.0,0.0,0.0,0.0,3 days 18:00:00
28122,223038.0,4 days 16:03:00,0.0,0.0,0.0,0.0,0.0,4 days 12:00:00
28123,223047.0,0 days 15:35:00,1.0,0.0,0.0,0.0,1.0,0 days 00:00:00
28124,223047.0,1 days 00:41:00,0.0,1.0,0.0,0.0,0.0,0 days 18:00:00
28125,223047.0,2 days 01:12:00,0.0,1.0,0.0,0.0,1.0,1 days 12:00:00
28126,223047.0,2 days 15:49:00,0.0,0.0,0.0,0.0,1.0,2 days 06:00:00
28127,223047.0,3 days 15:07:00,1.0,1.0,0.0,0.0,1.0,3 days 00:00:00
28128,223047.0,4 days 00:32:00,0.0,1.0,0.0,0.0,0.0,3 days 18:00:00
28129,223047.0,4 days 13:31:00,0.0,0.0,0.0,0.0,0.0,4 days 12:00:00

In [56]:
%%capture
'''
# put the binned treatment together
binned_treatment_list = []
for i in np.unique(binned_signal.loc[:, 'enc_id']):
    prev = binned_treatment_prev.loc[binned_treatment_prev.loc[:, 'enc_id']==i, :]
    post = binned_treatment_post.loc[binned_treatment_post.loc[:, 'enc_id']==i, :]
    binned_treatment_list.append(pd.concat([prev, post]))

binned_treatment_combined = pd.concat(binned_treatment_list)
binned_treatment_combined.reset_index(drop=True, inplace=True)

# adjust time points for signal so that the first observation starts from time num_past_effects * bin_size_num
binned_signal.loc[:, 'time'] += timedelta(hours=num_past_effects*bin_size_num)

# for each id, signals for the first num_past_effects time points are nan
# those are used as placeholder so that the dimension of signal matrix matches that of the treatment matrix
def add_rows_signal(x):
    x = x.iloc[::-1]
    first_time = x.loc[:, 'time'].iloc[-1]
    while first_time > timedelta():
        new_first_time = first_time - timedelta(hours=bin_size_num)
        row = x.iloc[0]
        row[signal_name] = np.nan
        row['time'] = new_first_time
        first_time = new_first_time
        x = x.append(row)
    return x.iloc[::-1]

binned_signal = binned_signal.groupby('enc_id').apply(lambda x: add_rows_signal(x)).reset_index(drop=True)
'''

In [59]:
# contain binned signal and treatments starting from the first observation
# the first observation for each id is time zero
df_binned = pd.concat([binned_signal, binned_treatment_post.loc[:, list(treatment_names.keys())]], axis = 1)

In [60]:
df_binned

,enc_id,inr,time,nsaid,anticoagulant,transfusion_plasma,transfusion_platelets,aspirin
0,1020,1.000,0 days 00:00:00,0.0,1.0,0.0,0.0,1.0
1,1020,2.600,0 days 18:00:00,0.0,1.0,0.0,0.0,0.0
2,1020,NaN,1 days 12:00:00,0.0,1.0,0.0,0.0,1.0
3,1020,6.500,2 days 06:00:00,0.0,0.0,0.0,0.0,1.0
4,1020,4.700,3 days 00:00:00,0.0,0.0,0.0,0.0,1.0
5,1020,2.400,3 days 18:00:00,0.0,1.0,0.0,0.0,0.0
6,1221,2.050,0 days 00:00:00,0.0,1.0,0.0,0.0,0.0
7,1221,NaN,0 days 18:00:00,0.0,1.0,0.0,0.0,1.0
8,1221,4.200,1 days 12:00:00,0.0,0.0,0.0,0.0,1.0
9,1221,3.100,2 days 06:00:00,0.0,0.0,0.0,0.0,1.0
10,1221,NaN,3 days 00:00:00,0.0,1.0,0.0,0.0,0.0
11,1221,2.800,3 days 18:00:00,0.0,1.0,0.0,0.0,1.0
12,1221,4.100,4 days 12:00:00,0.0,0.0,0.0,0.0,1.0
13,1221,3.800,5 days 06:00:00,0.0,0.0,0.0,0.0,1.0
14,1221,NaN,6 days 00:00:00,0.0,0.0,0.0,0.0,0.0
15,1221,3.700,6 days 18:00:00,0.0,0.0,0.0,0.0,1.0
16,1221,3.500,7 days 12:00:00,0.0,0.0,0.0,0.0,1.0
17,1221,2.400,8 days 06:00:00,0.0,0.0,0.0,0.0,1.0
18,1221,NaN,9 days 00:00:00,0.0,1.0,0.0,0.0,0.0
19,1221,3.000,9 days 18:00:00,0.0,0.0,0.0,0.0,1.0
20,1221,1.300,10 days 12:00:00,0.0,0.0,0.0,0.0,1.0
21,1221,1.200,11 days 06:00:00,0.0,0.0,0.0,0.0,0.0
22,1221,1.200,12 days 00:00:00,0.0,0.0,0.0,0.0,1.0
23,1221,NaN,12 days 18:00:00,0.0,0.0,0.0,0.0,1.0
24,1221,1.100,13 days 12:00:00,0.0,0.0,0.0,0.0,1.0
25,1221,1.100,14 days 06:00:00,0.0,0.0,0.0,0.0,1.0
26,1221,NaN,15 days 00:00:00,0.0,1.0,0.0,0.0,0.0
27,1221,1.100,15 days 18:00:00,0.0,1.0,0.0,0.0,1.0
28,1221,1.000,16 days 12:00:00,0.0,0.0,0.0,0.0,1.0
29,1221,1.100,17 days 06:00:00,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
28100,222822,1.785,0 days 00:00:00,0.0,1.0,1.0,0.0,0.0
28101,222822,2.250,0 days 18:00:00,0.0,0.0,0.0,0.0,0.0
28102,222822,3.980,1 days 12:00:00,0.0,1.0,0.0,0.0,0.0
28103,222822,NaN,2 days 06:00:00,0.0,0.0,0.0,0.0,0.0
28104,222822,3.920,3 days 00:00:00,0.0,0.0,0.0,0.0,0.0
28105,222877,6.230,0 days 00:00:00,1.0,0.0,0.0,0.0,0.0
28106,222877,4.760,0 days 18:00:00,0.0,0.0,0.0,0.0,0.0
28107,222877,1.710,1 days 12:00:00,0.0,1.0,0.0,0.0,0.0
28108,222877,1.420,2 days 06:00:00,0.0,0.0,0.0,0.0,0.0
28109,222877,1.470,3 days 00:00:00,0.0,1.0,0.0,0.0,0.0
28110,222909,2.300,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0
28111,222909,1.350,0 days 18:00:00,1.0,0.0,0.0,0.0,0.0
28112,222909,NaN,1 days 12:00:00,0.0,0.0,0.0,0.0,0.0
28113,222909,1.180,2 days 06:00:00,1.0,1.0,0.0,0.0,0.0
28114,222909,1.130,3 days 00:00:00,1.0,1.0,0.0,0.0,0.0
28115,222909,1.410,3 days 18:00:00,1.0,1.0,0.0,0.0,0.0
28116,223038,3.095,0 days 00:00:00,0.0,0.0,1.0,0.0,0.0
28117,223038,1.960,0 days 18:00:00,1.0,1.0,1.0,0.0,0.0
28118,223038,2.910,1 days 12:00:00,1.0,0.0,0.0,0.0,0.0
28119,223038,3.450,2 days 06:00:00,1.0,0.0,0.0,0.0,0.0
28120,223038,2.130,3 days 00:00:00,1.0,0.0,0.0,0.0,0.0
28121,223038,NaN,3 days 18:00:00,0.0,1.0,0.0,0.0,0.0
28122,223038,1.550,4 days 12:00:00,0.0,0.0,0.0,0.0,0.0
28123,223047,1.560,0 days 00:00:00,1.0,0.0,0.0,0.0,1.0
28124,223047,NaN,0 days 18:00:00,0.0,1.0,0.0,0.0,0.0
28125,223047,1.710,1 days 12:00:00,0.0,1.0,0.0,0.0,1.0
28126,223047,1.810,2 days 06:00:00,0.0,0.0,0.0,0.0,1.0
28127,223047,2.320,3 days 00:00:00,1.0,1.0,0.0,0.0,1.0
28128,223047,NaN,3 days 18:00:00,0.0,1.0,0.0,0.0,0.0
28129,223047,2.700,4 days 12:00:00,0.0,0.0,0.0,0.0,0.0

In [36]:
# take only part of cdm_s that has the patient ids which we use in df_binned
df_s = cdm_s.loc[cdm_s.loc[:, 'enc_id'].isin(df_binned.loc[:, 'enc_id'].unique()), :]

In [37]:
# create dataframe containing each chronic conditions, binarize
df_static = pd.DataFrame()
for chronic, names in chronic_names.items():
    col = df_s.groupby('enc_id').apply(lambda x: x.loc[x.loc[:, 'fid'].isin(names), 'value'].any())
    df_static.loc[:, chronic] = col # to make sure index is correct
    df_static.loc[:, chronic] = np.where(col == False, 0, 1)

In [38]:
# add demographic information to df_static
for demo in demographic_names:
    col = df_s.groupby('enc_id').apply(lambda x: int(x.loc[x.loc[:, 'fid'] == demo, 'value'].values[0]))
    df_static.loc[:, demo] = col

In [39]:
df_static

        liver_disease  sickle_cell  age
enc_id
1020                0            0   56
1221                0            0   89
1319                0            0   88
1330                0            0   90
1337                0            0   68
1575                0            0   82
1602                0            0   72
1793                0            0   80
1905                0            0   83
2072                0            0   60
2134                0            0   58
2211                0            0   80
2307                0            0   81
2356                0            0   91
2470                0            0   71
2526                0            0   89
2590                0            0   75
2865                0            0   85
2952                0            0   45
3105                0            0   81
3107                0            0   66
3113                0            0   82
3212                0            0   88
3223                0            0   72
3282                0            0   71
3295                0            0   85
3391                0            0   92
3417                0            0   80
3474                0            0   88
3507                1            0   44
...               ...          ...  ...
219834              0            0   90
219857              0            0   85
219962              0            0   71
220015              0            0   74
220025              0            0   94
220201              0            0   56
220315              0            0   71
220458              0            0   69
220543              0            0   95
220555              0            0   65
220590              0            0   89
220632              1            0   34
220775              0            0   88
220802              0            0   92
220823              0            0   82
220889              0            0   77
221261              0            0   81
221361              0            0   83
221405              1            0   28
221418              0            0   92
221586              0            0   68
221709              0            0   59
221885              0            0   88
222005              0            0   75
222286              0            0   85
222822              0            0   85
222877              0            0   74
222909              0            0   74
223038              0            0   72
223047              0            0   86

[2214 rows x 3 columns]

In [61]:
# remove individuals with observation missing pct larger than the threshold
df_binned = df_binned.groupby('enc_id').filter(lambda x: (np.where(x.loc[:, signal_name].isna())[0].shape[0]) / x.shape[0] < max_missing_pct)
# the number of ids available for training
num_unique_ids = np.unique(df_binned.loc[:, 'enc_id']).shape[0]
num_unique_ids

2214

In [95]:
# also remove the individuals with high missing pct from df_static and binned_treatment_prev
df_static = df_static.loc[np.unique(df_binned.loc[:, 'enc_id']), :]
binned_treatment_prev = binned_treatment_prev.groupby('enc_id').filter(lambda x: x.loc[:, 'enc_id'].iloc[0] in np.unique(df_binned.loc[:, 'enc_id']))

In [99]:
binned_treatment_prev

,enc_id,tsp_adjusted,nsaid,anticoagulant,transfusion_plasma,transfusion_platelets,aspirin,time
0,1020.0,2 days 03:31:00,0.0,1.0,0.0,0.0,1.0,0 days 00:00:00
1,1020.0,1 days 11:18:00,0.0,1.0,0.0,0.0,1.0,0 days 18:00:00
2,1020.0,0 days 12:58:00,0.0,1.0,0.0,0.0,1.0,1 days 12:00:00
3,1221.0,0 days 03:42:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
4,1221.0,0 days 03:42:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
5,1221.0,0 days 03:42:00,0.0,1.0,0.0,0.0,0.0,1 days 12:00:00
6,1319.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7,1319.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
8,1319.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
9,1330.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
10,1330.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
11,1330.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
12,1337.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
13,1337.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
14,1337.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
15,1575.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
16,1575.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
17,1575.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
18,1602.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
19,1602.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
20,1602.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
21,1793.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
22,1793.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
23,1793.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
24,1905.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
25,1905.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
26,1905.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
27,2072.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
28,2072.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
29,2072.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
...,...,...,...,...,...,...,...,...
7542,221586.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7543,221586.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7544,221586.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7545,221709.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7546,221709.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7547,221709.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7548,221885.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7549,221885.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7550,221885.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7551,222005.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7552,222005.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7553,222005.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7554,222286.0,0 days 02:32:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7555,222286.0,0 days 02:32:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7556,222286.0,0 days 02:32:00,1.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7557,222822.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7558,222822.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7559,222822.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7560,222877.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7561,222877.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7562,222877.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7563,222909.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7564,222909.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7565,222909.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7566,223038.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7567,223038.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7568,223038.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00
7569,223047.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 00:00:00
7570,223047.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,0 days 18:00:00
7571,223047.0,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0,1 days 12:00:00

The number below is less than the max bin number in the np array preprocess version because the max bin number there was calculated **before** individuals with high missing percentage is removed.

In [63]:
# overall percentage of missing observations after removal
np.where(df_binned.loc[:, signal_name].isnull())[0].shape[0]/df_binned.shape[0]

0.22673992673992674

In [69]:
# maximum number of bins for an individual
# necessary if convert dataframe to np array
max_num_bins = int(max(df_binned.loc[:, 'time']) / timedelta(hours=bin_size_num)) + 1

In [70]:
# turn static features into np array
c_mtx = df_static.values

In [71]:
# create matrix storing the signal observations
# shape is (number of patient * max_num_bins)
y_list = []
df_binned.groupby('enc_id').apply(lambda x: y_list.append(x.loc[:, signal_name].values))
# for some reason the first group always got appended twice to the list, so delete one
y_list.pop(0)
y_mtx = np.full((len(y_list), max_num_bins), np.nan)
for i, y in enumerate(y_list):
    y_mtx[i, :y.shape[0]] = y

In [100]:
# create matrix storing treatment (after the first observation) information
# shape is (number of patients * max_num_bins * number of treatment categories)
x_list = []
df_binned.groupby('enc_id').apply(lambda x: x_list.append(x.loc[:, list(treatment_names.keys())].values))
x_list.pop(0)
X_mtx = np.zeros((len(x_list), max_num_bins, len(treatment_names.keys())))
for i, x in enumerate(x_list):
    X_mtx[i, :x.shape[0], :] = x

In [101]:
# create matrix storing treatment (before the first observation) information
# shape is (number of patients * num_past_effects * number of treatment categories)
x_prev_list = []
binned_treatment_prev.groupby('enc_id').apply(lambda x: x_prev_list.append(x.loc[:, list(treatment_names.keys())].values))
x_prev_list.pop(0)
X_prev_mtx = np.zeros((len(x_prev_list), num_past_effects, len(treatment_names.keys())))
for i, x in enumerate(x_prev_list):
    X_prev_mtx[i, :x.shape[0], :] = x

In [103]:
np.savez('../Data/'+signal_name+'_preprocessed_data', y_mtx=y_mtx, X_mtx=X_mtx, X_prev_mtx=X_prev_mtx, c_mtx=c_mtx)

### Model Training

In [47]:
em = EM(y_mtx, X_mtx, c_mtx, num_past_effects, 0, train_pct=training_pct, single_effect=single_effect)

### Future Improvements
* for now, signals and treatments are stored as np array whose shape is determined by the maximum number of bins an individual has. This is to accomodate the existing code in EM.py, but the resulting matrix has lots of extra nans(in the case of signal) and zeros(in the case of treatments), which could be address by changing the data structure used in the EM.py code