In [82]:
import pandas as pd
import pickle
import numpy as np
from datetime import datetime, timedelta
from EM import EM

In [2]:
cdm_t = pd.read_pickle('../Data/cdm_t.pkl')
cdm_s = pd.read_pickle('../Data/cdm_s.pkl')

### Data Query and Preprocessing Parameters

In [42]:
signal_name = 'inr'

treatment_names = {}
treatment_names['nsaid'] = ['acetaminophen_dose','celecoxib_dose','diclofenac_dose','ibuprofen_dose','indomethacin_dose',
'ketorolac_dose','meloxicam_dose','naproxen_dose']
treatment_names['anticoagulant'] = ['warfarin_dose','heparin_dose','dabigatran_dose','edoxaban_dose','rivaroxaban_dose',
'apixaban_dose','enoxaparin_dose','dalteparin_dose','fondaparinux_dose']
treatment_names['transfusion_plasma'] = ['transfuse_plasma']
treatment_names['transfusion_platelets'] = ['transfuse_platelets']
treatment_names['aspirin'] = ['aspirin_dose']

# chronic dict is keyed on the keywords of the chronic conditions we care about
# the keywords are specified in chronic_keywords
# the value is a list of all the features in cdm_s that contain that keyword
chronic_keywords = ['liver_disease', 'sickle_cell']
chronic_names = {}

demographic_names = ['age']

# the least number of signal observation a patient needs to have to be included
cutoff = 5

# bin_size is a offset alias used by the resample method
bin_size = '18H'

# the maximum percent of missingness allowed in observations for each individual
max_missing_pct = .4

### Model Training Parameters

In [81]:
# EM Setting
num_past_effects = 3
training_pct = .8
single_effect = False

### Preprocessing

In [4]:
# fill in chronic name dict
all_chronic = cdm_s.loc[:, 'fid'].unique()
for name in chronic_keywords:
    chronic_names[name] = [s for s in all_chronic if name in s]

In [5]:
# put all the treatment names into a list to get the corresponding columns
treatment_list = []
for name in treatment_names.values():
    treatment_list.append(name)
# flatten the list
treatment_list = [item for sublist in treatment_list for item in sublist]

In [6]:
# df_t is part of the original dataframe that has all the ids who have measurements for the signal we are interested 
# in
signal = cdm_t.loc[cdm_t.loc[:, 'fid'] == signal_name, 'value']
ids = np.unique(cdm_t.loc[signal.index, 'enc_id'])
df_t = cdm_t.loc[cdm_t.loc[:, 'enc_id'].isin(ids), :]

In [7]:
# df_t is now part of the dataframe that contains only the rows with fid being either the signal or the treatments
df_t = df_t.loc[df_t.loc[:, 'fid'].isin(treatment_list + [signal_name]), :]

In [8]:
# convert tsp field to python datetime object
# make the time for each id to start from zero
df_t.loc[:, 'tsp'] = df_t.loc[:, 'tsp'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S+%f'))
#df_t.loc[:, 'tsp'] = df_t.groupby('enc_id')['tsp'].apply(lambda x: x - x.iloc[0])

In [9]:
# for each id, adjust tsp so that time is zero for the first time the signal is measured
adjusted_time = df_t.groupby('enc_id').apply(lambda x: x.loc[:, 'tsp'] - x.loc[x.loc[:, 'fid'] == signal_name, 'tsp'].iloc[0])
# adjusted_time is multiindexed, need to drop one level before assigning it to column tsp
adjusted_time.index = adjusted_time.index.droplevel()
df_t.loc[:, 'tsp_adjusted'] = adjusted_time

In [10]:
# cut the dataframe based on a cutoff number on the number of signal measurement a patient has
keep_index = df_t.groupby('enc_id')['fid'].filter(lambda x: x.value_counts().loc['inr'] >= cutoff).index
df_t_cut = df_t.loc[keep_index].copy()

In [11]:
# delete rows whose adjusted time is less than zero
df_t_cut = df_t_cut.loc[df_t_cut.loc[:, 'tsp_adjusted'] >= timedelta(), :]

In [12]:
# create column for the signal
df_t_cut.loc[:, signal_name] = df_t_cut.loc[df_t_cut.loc[:, 'fid'].isin([signal_name]), 'value']
df_t_cut.loc[:, signal_name] = df_t_cut.loc[:, signal_name].apply(lambda x: float(x))

In [13]:
# create a column for each treatment category
# binarize
for category, names in treatment_names.items():
    df_t_cut.loc[:, category] = df_t_cut.loc[df_t_cut.loc[:, 'fid'].isin(names), 'value']
for treatment in treatment_names.keys():
    df_t_cut.loc[df_t_cut.loc[:, treatment].notna(), treatment] = 1
    df_t_cut.loc[:, treatment] = df_t_cut.loc[:, treatment].fillna(value = 0)

In [14]:
# for every patient, delete all rows after the last valid signal measurement 
df_t_cut = df_t_cut.groupby('enc_id').apply(lambda x: x.loc[x.index <= x.loc[:, 'inr'].last_valid_index(), :]).reset_index(drop=True)

In [15]:
# put signals in bins
binned_signal = df_t_cut.loc[:, ['enc_id', 'tsp_adjusted', signal_name]].dropna().groupby('enc_id').apply(lambda x: x.loc[:, ['tsp_adjusted', signal_name]].resample(bin_size, on='tsp_adjusted').mean())
binned_signal.reset_index(level='enc_id', inplace=True)

In [16]:
# put treatments in bins
binned_treatment = df_t_cut.loc[:, ['enc_id', 'tsp_adjusted']+ list(treatment_names.keys())].groupby('enc_id').apply(lambda x: x.resample(bin_size, on='tsp_adjusted').max())
# if nothing is recorded in a certain time bin, treatment will be nan. But that is the same as no treatment given
# so mark it as zero
binned_treatment.fillna(0, inplace=True)

In [17]:
# put the binned values into a new dataframe called df_binned
new_times = binned_signal.index.get_level_values('tsp_adjusted')
df_binned = pd.DataFrame(binned_signal.reset_index(drop=True))
df_binned.loc[:, 'time'] = new_times
df_binned = pd.concat([df_binned, binned_treatment.reset_index(drop=True).loc[:, list(treatment_names.keys())]], axis = 1)

In [18]:
df_binned

,enc_id,inr,time,nsaid,anticoagulant,transfusion_plasma,transfusion_platelets,aspirin
0,1020,1.000,0 days 00:00:00,0.0,1.0,0.0,0.0,1.0
1,1020,2.600,0 days 18:00:00,0.0,1.0,0.0,0.0,0.0
2,1020,NaN,1 days 12:00:00,0.0,1.0,0.0,0.0,1.0
3,1020,6.500,2 days 06:00:00,0.0,0.0,0.0,0.0,1.0
4,1020,4.700,3 days 00:00:00,0.0,0.0,0.0,0.0,1.0
5,1020,2.400,3 days 18:00:00,0.0,1.0,0.0,0.0,0.0
6,1221,2.050,0 days 00:00:00,0.0,1.0,0.0,0.0,0.0
7,1221,NaN,0 days 18:00:00,0.0,1.0,0.0,0.0,1.0
8,1221,4.200,1 days 12:00:00,0.0,0.0,0.0,0.0,1.0
9,1221,3.100,2 days 06:00:00,0.0,0.0,0.0,0.0,1.0
10,1221,NaN,3 days 00:00:00,0.0,1.0,0.0,0.0,0.0
11,1221,2.800,3 days 18:00:00,0.0,1.0,0.0,0.0,1.0
12,1221,4.100,4 days 12:00:00,0.0,0.0,0.0,0.0,1.0
13,1221,3.800,5 days 06:00:00,0.0,0.0,0.0,0.0,1.0
14,1221,NaN,6 days 00:00:00,0.0,0.0,0.0,0.0,0.0
15,1221,3.700,6 days 18:00:00,0.0,0.0,0.0,0.0,1.0
16,1221,3.500,7 days 12:00:00,0.0,0.0,0.0,0.0,1.0
17,1221,2.400,8 days 06:00:00,0.0,0.0,0.0,0.0,1.0
18,1221,NaN,9 days 00:00:00,0.0,1.0,0.0,0.0,0.0
19,1221,3.000,9 days 18:00:00,0.0,0.0,0.0,0.0,1.0
20,1221,1.300,10 days 12:00:00,0.0,0.0,0.0,0.0,1.0
21,1221,1.200,11 days 06:00:00,0.0,0.0,0.0,0.0,0.0
22,1221,1.200,12 days 00:00:00,0.0,0.0,0.0,0.0,1.0
23,1221,NaN,12 days 18:00:00,0.0,0.0,0.0,0.0,1.0
24,1221,1.100,13 days 12:00:00,0.0,0.0,0.0,0.0,1.0
25,1221,1.100,14 days 06:00:00,0.0,0.0,0.0,0.0,1.0
26,1221,NaN,15 days 00:00:00,0.0,1.0,0.0,0.0,0.0
27,1221,1.100,15 days 18:00:00,0.0,1.0,0.0,0.0,1.0
28,1221,1.000,16 days 12:00:00,0.0,0.0,0.0,0.0,1.0
29,1221,1.100,17 days 06:00:00,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
28100,222822,1.785,0 days 00:00:00,0.0,1.0,1.0,0.0,0.0
28101,222822,2.250,0 days 18:00:00,0.0,0.0,0.0,0.0,0.0
28102,222822,3.980,1 days 12:00:00,0.0,1.0,0.0,0.0,0.0
28103,222822,NaN,2 days 06:00:00,0.0,0.0,0.0,0.0,0.0
28104,222822,3.920,3 days 00:00:00,0.0,0.0,0.0,0.0,0.0
28105,222877,6.230,0 days 00:00:00,1.0,0.0,0.0,0.0,0.0
28106,222877,4.760,0 days 18:00:00,0.0,0.0,0.0,0.0,0.0
28107,222877,1.710,1 days 12:00:00,0.0,1.0,0.0,0.0,0.0
28108,222877,1.420,2 days 06:00:00,0.0,0.0,0.0,0.0,0.0
28109,222877,1.470,3 days 00:00:00,0.0,1.0,0.0,0.0,0.0
28110,222909,2.300,0 days 00:00:00,0.0,0.0,0.0,0.0,0.0
28111,222909,1.350,0 days 18:00:00,1.0,0.0,0.0,0.0,0.0
28112,222909,NaN,1 days 12:00:00,0.0,0.0,0.0,0.0,0.0
28113,222909,1.180,2 days 06:00:00,1.0,1.0,0.0,0.0,0.0
28114,222909,1.130,3 days 00:00:00,1.0,1.0,0.0,0.0,0.0
28115,222909,1.410,3 days 18:00:00,1.0,1.0,0.0,0.0,0.0
28116,223038,3.095,0 days 00:00:00,0.0,0.0,1.0,0.0,0.0
28117,223038,1.960,0 days 18:00:00,1.0,1.0,1.0,0.0,0.0
28118,223038,2.910,1 days 12:00:00,1.0,0.0,0.0,0.0,0.0
28119,223038,3.450,2 days 06:00:00,1.0,0.0,0.0,0.0,0.0
28120,223038,2.130,3 days 00:00:00,1.0,0.0,0.0,0.0,0.0
28121,223038,NaN,3 days 18:00:00,0.0,1.0,0.0,0.0,0.0
28122,223038,1.550,4 days 12:00:00,0.0,0.0,0.0,0.0,0.0
28123,223047,1.560,0 days 00:00:00,1.0,0.0,0.0,0.0,1.0
28124,223047,NaN,0 days 18:00:00,0.0,1.0,0.0,0.0,0.0
28125,223047,1.710,1 days 12:00:00,0.0,1.0,0.0,0.0,1.0
28126,223047,1.810,2 days 06:00:00,0.0,0.0,0.0,0.0,1.0
28127,223047,2.320,3 days 00:00:00,1.0,1.0,0.0,0.0,1.0
28128,223047,NaN,3 days 18:00:00,0.0,1.0,0.0,0.0,0.0
28129,223047,2.700,4 days 12:00:00,0.0,0.0,0.0,0.0,0.0

In [20]:
# take only part of cdm_s that has the patient ids which we use in df_binned
df_s = cdm_s.loc[cdm_s.loc[:, 'enc_id'].isin(df_binned.loc[:, 'enc_id'].unique()), :]

In [21]:
# create dataframe containing each chronic conditions, binarize
df_static = pd.DataFrame()
for chronic, names in chronic_names.items():
    col = df_s.groupby('enc_id').apply(lambda x: x.loc[x.loc[:, 'fid'].isin(names), 'value'].any())
    df_static.loc[:, chronic] = col # to make sure index is correct
    df_static.loc[:, chronic] = np.where(col == False, 0, 1)

In [26]:
# add demographic information to df_static
for demo in demographic_names:
    col = df_s.groupby('enc_id').apply(lambda x: int(x.loc[x.loc[:, 'fid'] == demo, 'value'].values[0]))
    df_static.loc[:, demo] = col

In [27]:
df_static

        liver_disease  sickle_cell  age
enc_id
1020                0            0   56
1221                0            0   89
1319                0            0   88
1330                0            0   90
1337                0            0   68
1575                0            0   82
1602                0            0   72
1793                0            0   80
1905                0            0   83
2072                0            0   60
2134                0            0   58
2202                0            0   74
2211                0            0   80
2218                0            0   52
2220                0            0   52
2307                0            0   81
2356                0            0   91
2470                0            0   71
2526                0            0   89
2590                0            0   75
2865                0            0   85
2952                0            0   45
3105                0            0   81
3107                0            0   66
3113                0            0   82
3212                0            0   88
3223                0            0   72
3282                0            0   71
3295                0            0   85
3319                0            0   75
...               ...          ...  ...
219857              0            0   85
219962              0            0   71
220015              0            0   74
220025              0            0   94
220201              0            0   56
220315              0            0   71
220457              0            0   43
220458              0            0   69
220543              0            0   95
220555              0            0   65
220590              0            0   89
220632              1            0   34
220775              0            0   88
220802              0            0   92
220823              0            0   82
220889              0            0   77
221261              0            0   81
221361              0            0   83
221405              1            0   28
221418              0            0   92
221586              0            0   68
221709              0            0   59
221885              0            0   88
222005              0            0   75
222286              0            0   85
222822              0            0   85
222877              0            0   74
222909              0            0   74
223038              0            0   72
223047              0            0   86

[2524 rows x 3 columns]

In [54]:
# turn static features into np array
c_mtx = df_static.values

In [47]:
# remove individuals with observation missing pct larger than the threshold
df_binned = df_binned.groupby('enc_id').filter(lambda x: np.where(x.loc[:, signal_name].isna())[0].shape[0] / x.shape[0] < max_missing_pct)
# the number of ids available for training
np.unique(df_binned.loc[:, 'enc_id']).shape

(2214,)

In [46]:
# overall percentage of missing observations after removal
np.where(df_binned.loc[:, signal_name].isnull())[0].shape[0]/df_binned.shape[0]

0.22673992673992674

The number below is less than the max bin number in the np array preprocess version because the max bin number there was calculated **before** individuals with high missing percentage is removed.

In [66]:
# maximum number of bins for an individual
# necessary if convert dataframe to np array
max_num_bins = int(max(df_binned.loc[:, 'time']) / timedelta(hours=18)) + 1

In [67]:
# create matrix storing the signal observations
# shape is (number of patient * max_num_bins)
y_list = []
df_binned.groupby('enc_id').apply(lambda x: y_list.append(x.loc[:, signal_name].values))
y_mtx = np.full((len(y_list), max_num_bins), np.nan)
for i, y in enumerate(y_list):
    y_mtx[i, :y.shape[0]] = y

In [78]:
# create matrix storing treatment information
# shape is (number of patients * max_num_bins * number of treatment categories)
x_list = []
df_binned.groupby('enc_id').apply(lambda x: x_list.append(x.loc[:, list(treatment_names.keys())].values))
X_mtx = np.zeros((len(x_list), max_num_bins, len(treatment_names.keys())))
for i, x in enumerate(x_list):
    X_mtx[i, :x.shape[0], :] = x

In [101]:
np.savez('../Data/'+signal_name+'_preprocessed_data', y_mtx=y_mtx, X_mtx=X_mtx, c_mtx=c_mtx)

### Model Training

In [83]:
em = EM(y_mtx, X_mtx, c_mtx, num_past_effects, 0, train_pct=training_pct, single_effect=single_effect)

In [84]:
%%time
em.run_EM(1000)

/home/bear/Documents/Counterfactual-Prediction/EM.py:167: RuntimeWarning: divide by zero encountered in double_scalars
  self.jgain[n, t] = self.sigma_filter[n, t] / self.sigma_pred[n, t+1]
/home/bear/Documents/Counterfactual-Prediction/EM.py:188: RuntimeWarning: invalid value encountered in double_scalars
  self.jgain[n, t+1] * (self.sigma_ahead_smooth[n, t+1] - self.sigma_filter[n, t+1]) * self.jgain[n, t]
/home/bear/Documents/Counterfactual-Prediction/EM.py:224: RuntimeWarning: invalid value encountered in double_scalars
  result += self.mu_smooth[n, 0]
/home/bear/Documents/Counterfactual-Prediction/EM.py:206: RuntimeWarning: invalid value encountered in double_scalars
  result += self.mu_square_smooth[n, 0] - np.square(self.mu_smooth[n, 0])
/home/bear/Documents/Counterfactual-Prediction/EM.py:304: RuntimeWarning: invalid value encountered in double_scalars
  *self.mu_smooth[n, t] + self.mu_square_smooth[n, t]
/home/bear/Documents/Counterfactual-Prediction/EM.py:408: RuntimeWarning: invalid value encountered in add
  third_term = -1/(2*self.sigma_2)*np.sum(np.square(inr-pi)-2*np.multiply(inr-pi, self.mu_smooth[n, inr_index])+self.mu_square_smooth[n, inr_index])

encounter nan at iteration 0
max iterations: 1000 reached
CPU times: user 720 ms, sys: 0 ns, total: 720 ms
Wall time: 824 ms

### Future Improvements
* for now, signals and treatments are stored as np array whose shape is determined by the maximum number of bins an individual has. This is to accomodate the existing code in EM.py, but the resulting matrix has lots of extra nans(in the case of signal) and zeros(in the case of treatments), which could be address by changing the data structure used in the EM.py code